:root {
  /*

  --u-color_[sentiment]_[target]_[emphasis]_[state]

  sentiment
  ---------
  none, info, critical, positive, search-highlight

  target 
  ------
  background, text, text-on-[token], icon, icon-on-[token], border, container,
  element, interactive, focus-border, focus-outline, divider, caret, backdrop,
  scrollbar, scrollbar-track

  emphasis
  --------
  none, very-subdued, subdued, emphasized

  state
  -----
  none, hovered, pressed, selected, disabled

  "none" are left off from the token when applicable.

  */

  --u-color_background: var(--color-gray-lighten-100);
  --u-color_caret: var(--color-gray-lighten-100);
  --u-color_focus-border: var(--color-blue-1);
  --u-color_focus-outline: var(--color-blue-2-25pct);
  --u-color_backdrop: var(--color-gray-darken-30-50pct);
  --u-color_scrollbar: var(--color-gray-lighten-30);
  --u-color_scrollbar-track: var(--color-transparent);

  --u-color_search-highlight_text: var(--color-gray-blue-2);
  --u-color_search-highlight_background: var(--color-transparent);

  --u-color_text: var(--color-gray-darken-20);
  --u-color_text_very-subdued: var(--color-gray-lighten-30);
  --u-color_text_subdued: var(--color-gray-lighten-20);
  --u-color_text_emphasized: var(--color-gray-darken-30);
  --u-color_icon: var(--color-gray-lighten-20);
  --u-color_icon_subdued: var(--color-gray-lighten-30);
  --u-color_icon_emphasized: var(--color-gray-darken-20);
  --u-color_divider: var(--color-gray-lighten-55);
  --u-color_border: var(--color-gray-lighten-40);
  --u-color_border_subdued: var(--color-gray-lighten-45);
  --u-color_interactive: var(--color-blue-1);
  --u-color_interactive_hovered: var(--color-blue-2);
  --u-color_interactive_pressed: var(--color-pink-1);
  --u-color_action: var(--color-gray-lighten-50);
  --u-color_text-on-action: var(--color-gray-darken-30);
  --u-color_icon-on-action: var(--color-gray-lighten-20);
  --u-color_action_hovered: var(--color-gray-lighten-40);
  --u-color_text-on-action_hovered: var(--color-gray-darken-30);
  --u-color_icon-on-action_hovered: var(--color-gray-lighten-20);
  --u-color_action_subdued: var(--color-transparent);
  --u-color_text-on-action-subdued: var(--color-blue-1);
  --u-color_icon-on-action-subdued: var(--color-gray-lighten-20);
  --u-color_action_subdued_hovered: var(--color-gray-lighten-45);
  --u-color_icon-action_subdued-hovered: var(--color-gray-base);
  --u-color_action_emphasized: var(--color-gray-darken-20);
  --u-color_text-on-action-emphasized: var(--color-gray-lighten-60);
  --u-color_icon-on-action-emphasized: var(--color-gray-lighten-30);
  --u-color_container: var(--color-gray-lighten-100);
  --u-color_container_hovered: var(--color-gray-lighten-60);
  --u-color_container_selected: var(--color-gray-lighten-60);
  --u-color_container_subdued: var(--color-gray-lighten-60);
  --u-color_container_subdued_hovered: var(--color-gray-lighten-55);
  --u-color_container_subdued_selected: var(--color-gray-lighten-55);
  --u-color_element: var(--color-gray-lighten-100);
  --u-color_element_hovered: var(--color-gray-lighten-60);
  --u-color_element_selected: var(--color-gray-lighten-55);
  --u-color_element_disabled: var(--color-gray-lighten-55);
  --u-color_element_subdued: var(--color-gray-lighten-60);
  --u-color_element_subdued_hovered: var(--color-gray-lighten-55);
  --u-color_element_subdued_selected: var(--color-gray-lighten-55);
  --u-color_element_emphasized: var(--color-gray-lighten-55);
  --u-color_text-on-element-emphasized: var(--color-gray-base);
  --u-color_element_emphasized_hovered: var(--color-gray-lighten-50);
  --u-color_element_emphasized_selected: var(--color-gray-lighten-50);

  --u-color_critical_text: var(--color-pink-1);
  --u-color_critical_text_subdued: var(--color-pink-3);
  --u-color_critical_icon: var(--color-pink-3);

  --u-color_info_container_subdued: var(--color-blue-5);

  /* Syntax */
  --color-syntax-plain: var(--u-color_text);

  --color-icon-type: var(--color-orange-1);
  --color-icon-data-constructor: var(--color-orange-1);
  --color-icon-test: var(--color-green-1);
  --color-icon-term: var(--color-purple-3);
  --color-icon-ability: var(--color-pink-1);
  --color-icon-ability-constructor: var(--color-pink-1);
  --color-icon-doc: var(--color-orange-2);
  --color-icon-patch: var(--color-blue-2);

  --color-syntax-base: var(--color-gray-darken-30);
  --color-syntax-subtle: var(--color-gray-lighten-20);
  --color-syntax-subtle-em: var(--color-gray-base);
  --color-syntax-keyword: var(--color-pink-2);
  --color-syntax-operator: var(--color-gray-lighten-30);
  --color-syntax-term: var(--color-purple-2);
  --color-syntax-term-namespace: var(--color-purple-3);
  --color-syntax-ability: var(--color-pink-1);
  --color-syntax-type: var(--color-blue-1);
  --color-syntax-type-namespace: var(--color-blue-2);
  --color-syntax-constructor: var(--color-blue-1);
  --color-syntax-constructor-namespace: var(--color-blue-2);
  --color-syntax-text: var(--color-green-1);
  --color-syntax-link-hover-bg: var(--color-gray-lighten-50);

  --color-syntax-monochrome-subtle: var(--u-color_very-subued);
  --color-syntax-monochrome-base: var(--u-color_subdued);
  --color-syntax-monochrome-em: var(--u-color_text);
}

/* Shadows */
:root {
  --u-shadow: var(--color-gray-darken-30-20pct);
}
