.button {
  display: inline-flex;
  font-family: var(--font-sans-serif);
  border: 0;
  border-radius: var(--border-radius-base);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1em;
  cursor: pointer;
  transition: all 0.1s ease-in;
  justify-content: center;
  align-items: center;
}

a.button,
a.button:hover {
  text-decoration: none;
}

.button:focus {
  outline: none;
  will-change: transform;
}

.button:active {
  transform: translate(0, 0.1rem);
}

.button.small {
  height: 1.5rem;
  font-size: var(--font-size-small);
}

.button.small:not(.content-icon) {
  padding: 0 0.5rem;
}

.button.small.content-icon-then-label .icon {
  margin-right: 0.25rem;
}

.button.medium {
  height: 2rem;
  font-size: var(--font-size-medium);
}

.button.medium:not(.content-icon) {
  padding: 0 0.75rem;
}

.button.medium.content-icon-then-label .icon {
  margin-right: 0.375rem;
}

.button.large {
  height: 2.5rem;
  font-size: 1.125rem;
}

.button.large:not(.content-icon) {
  padding: 0 1rem;
}

.button.large.content-icon-then-label .icon {
  margin-right: 0.5rem;
}

.button.default {
  color: var(--color-button-default-fg);
  background: var(--color-button-default-bg);
}
.button.default .icon {
  color: var(--color-button-default-fg);
}

.button.default:hover {
  color: var(--color-button-default-hover-fg);
  background: var(--color-button-default-hover-bg);
}

.button.default:hover .icon {
  color: var(--color-button-default-hover-fg);
}

.button.primary-mono {
  color: var(--color-button-primary-mono-fg);
  background: var(--color-button-primary-mono-bg);
}

.button.primary-mono .icon {
  color: var(--color-button-primary-mono-fg);
}

.button.primary-mono:hover {
  color: var(--color-button-primary-mono-hover-fg);
  background: var(--color-button-primary-mono-hover-bg);
}
.button.primary-mono:hover .icon {
  color: var(--color-button-primary-mono-hover-fg);
}

.button.primary {
  color: var(--color-button-primary-fg);
  background: var(--color-button-primary-bg);
}
.button.primary .icon {
  color: var(--color-button-primary-fg);
}

.button.primary:hover {
  color: var(--color-button-primary-hover-fg);
  background: var(--color-button-primary-hover-bg);
}
.button.primary:hover .icon {
  color: var(--color-button-primary-hover-fg);
}

.button.share {
  color: var(--color-button-share-fg);
  background: var(--color-button-share-bg);
}

.button.share .icon {
  color: var(--color-button-share-fg);
}

.button.share:hover {
  color: var(--color-button-share-hover-fg);
  background: var(--color-button-share-hover-bg);
}

.button.share:hover .icon {
  color: var(--color-button-share-hover-fg);
}

.button.danger {
  color: var(--color-button-danger-fg);
  background: var(--color-button-danger-bg);
}
.button.danger .icon {
  color: var(--color-button-danger-fg);
}

.button.danger:hover {
  color: var(--color-button-danger-fg);
  background: var(--color-button-danger-bg);
}
.button.danger:hover .icon {
  color: var(--color-button-danger-fg);
}
