/* -- Core ------------------------------------------------------------------*/

.tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: var(--layer-tooltip);

  --tooltip-border-size: 1px;
  --tooltip-arrow-size: 0.375rem;
  --tooltip-arrow-edge-offset: 0.75rem;

  /* A faux Arrow that is " larger than "arrow-size" such
   * that it appears to give the original arrow a border. All :before styles
   * target this */
  --tooltip-arrow-border-size: calc(
    var(--tooltip-border-size) + var(--tooltip-arrow-size)
  );

  /* Docs (.definition-doc) can exist inside tooltips, but tooltips often have
   * a different background color, so overwrite doc colors to match tooltip */
  --color-doc-link: var(--color-tooltip-link);
  --color-doc-link-active: var(--color-tooltip-link-active);
  --color-doc-link-hover: var(--color-tooltip-link-hover);
  --color-doc-source-bg: var(--color-tooltip-source-bg);
  --color-doc-source-mg: var(--color-tooltip-source-mg);
  --color-doc-fold-hover-bg: var(--color-tooltip-fold-hover-bg);

  /* Syntax (via Docs) can be rendered inside tooltips */
  --color-syntax-base: var(--color-tooltip-syntax-base);
  --color-syntax-subtle: var(--color-tooltip-syntax-subtle);
  --color-syntax-subtle-em: var(--color-tooltip-syntax-subtle-em);
  --color-syntax-keyword: var(--color-tooltip-syntax-keyword);
  --color-syntax-operator: var(--color-tooltip-syntax-operator);
  --color-syntax-term: var(--color-tooltip-syntax-term);
  --color-syntax-term-namespace: var(--color-tooltip-syntax-term-namespace);
  --color-syntax-ability: var(--color-tooltip-syntax-ability);
  --color-syntax-type: var(--color-tooltip-syntax-type);
  --color-syntax-type-namespace: var(--color-tooltip-syntax-type-namespace);
  --color-syntax-constructor: var(--color-tooltip-syntax-constructor);
  --color-syntax-constructor-namespace: var(
    --color-tooltip-syntax-constructor-namespace
  );
  --color-syntax-text: var(--color-tooltip-syntax-text);
}

/* -- Core ------------------------------------------------------------------*/

.tooltip-bubble {
  position: relative;
  font-size: var(--font-size-medium);
  color: var(--color-tooltip-fg);
  background: var(--color-tooltip-bg);
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-base);
  min-width: 10rem;
  border: var(--tooltip-border-size) solid var(--color-tooltip-border);
}

.tooltip-bubble:after,
.tooltip-bubble:before {
  border: solid var(--color-transparent);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip-bubble:after {
  border-width: var(--tooltip-arrow-size);
}

.tooltip-bubble:before {
  border-width: var(--tooltip-arrow-border-size);
}

/* -- Arrows and Positions --------------------------------------------------*/

.tooltip.below {
  padding-top: 0.5rem;
  top: 1.5rem;
}

.tooltip.below .tooltip-bubble:after {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-bg);
}

.tooltip.below .tooltip-bubble:before {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-border);
}

.tooltip.above {
  padding-bottom: 0.5rem;
  bottom: 1.5rem;
}

.tooltip.above .tooltip-bubble:after {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-bg);
}

.tooltip.above .tooltip-bubble:before {
  bottom: 100%;
  border-bottom-color: var(--color-tooltip-border);
}

.tooltip:is(.below, .above).arrow-start {
  left: 0;
}

.tooltip:is(.below, .above).arrow-start .tooltip-bubble:after {
  left: var(--tooltip-arrow-edge-offset);
}

.tooltip:is(.below, .above).arrow-start .tooltip-bubble:before {
  left: calc(var(--tooltip-arrow-edge-offset) - var(--tooltip-border-size));
}

.tooltip:is(.below, .above).arrow-end {
  right: 0;
}

.tooltip:is(.below, .above).arrow-end .tooltip-bubble:after {
  right: var(--tooltip-arrow-edge-offset);
}

.tooltip:is(.below, .above).arrow-end .tooltip-bubble:before {
  right: calc(var(--tooltip-arrow-edge-offset) - var(--tooltip-border-size));
}

/* -- Trigger ---------------------------------------------------------------*/

.tooltip-trigger {
  display: inline-flex;
  position: relative;
}

.tooltip-trigger:hover .tooltip {
  animation: fade-in 0.2s;
  pointer-events: auto;
  opacity: 1;
}

/* -- Content -------------------------------------------------------------- */

.tooltip.content-menu .tooltip-bubble {
  padding: 0.5rem;
}

.tooltip .tooltip-menu-items .tooltip-menu-items {
  display: flex;
  flex-direction: column;
}

.tooltip .tooltip-menu-items .tooltip-menu-item {
  display: flex;
  align-items: center;
  flex: 1;
  height: 2rem;
  color: var(--color-tooltip-item-fg);
  background: var(--color-tooltip-item-bg);
  white-space: nowrap;
  padding: 0 0.5rem;
  line-height: 1rem;
  border-radius: var(--border-radius-base);
}

.tooltip .tooltip-menu-items .tooltip-menu-item .icon {
  font-size: var(--font-size-base);
  margin-right: 0.5rem;
  color: var(--color-tooltip-item-subtle-fg);
  margin-top: -1px;
}

.tooltip .tooltip-menu-items .tooltip-menu-item:hover {
  text-decoration: none;
  color: var(--color-tooltip-item-hover-fg);
  background: var(--color-tooltip-item-hover-bg);
}

.tooltip .tooltip-menu-items .tooltip-menu-item:hover .icon {
  color: var(--color-tooltip-item-hover-subtle-fg);
}
