/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
li {
  margin: 0;
  padding: 0;
}

:root {
  --size-base: 16px;
  --main-sidebar-width: 16rem;
  --border-radius-base: 0.25rem;

  /* -- Font --------------------------------------------------------------- */

  --font-sans-serif: "Inter", sans-serif;
  --font-monospace: "Roboto Mono", monospace;

  --font-size-base: 1rem;
  --font-size-medium: 0.875rem;

  /* -- All colors --------------------------------------------------------- */

  /* Brand colors */
  --color-brand-bright-red: #ff4756;
  --color-brand-orange: #ff8800;
  --color-brand-yellow: #ffc41f;
  --color-brand-purple: #8f228f;
  --color-brand-dark-purple: #520066;

  /* Base colors */
  --color-blue-base: #5695f4;
  --color-green-base: #27ae60;
  --color-purple-base: #9a76c8;
  --color-gray-base: #515258;

  /* Darker (than base) grays */
  --color-gray-darken-5: #3d3e43;
  --color-gray-darken-20: #2d2e35;
  --color-gray-darken-25: #22232a;
  --color-gray-darken-30: #18181c;

  /* Lighter (than base) grays */
  --color-gray-lighten-20: #818286;
  --color-gray-lighten-30: #bdbfc6;
  --color-gray-lighten-40: #d1d5dc;
  --color-gray-lighten-50: #e4e7ec;
  --color-gray-lighten-60: #fafafb;
  --color-gray-lighten-100: #ffffff;

  /* -- Default Theme -------------------------------------------------------*/
  --color-main-fg: var(--color-gray-darken-30);
  --color-main-bg: var(--color-gray-lighten-100);
  --color-main-subtle-fg: var(--color-gray-lighten-30);
  --color-main-subtle-bg: var(--color-gray-lighten-60);
  --color-main-border: var(--color-gray-lighten-40);
  --color-main-subtle-border: var(--color-gray-lighten-50);
  --color-main-highlight-fg: var(--color-blue-base);
  --color-main-highlight-bg: var(--color-blue-base);
  --color-main-highlight-border: var(--color-blue-base);

  --color-sidebar-fg: var(--color-gray-lighten-50);
  --color-sidebar-bg: var(--color-gray-darken-20);
  --color-sidebar-context-fg: var(--color-brand-orange);
  --color-sidebar-border: transparent;
  --color-sidebar-subtle-fg: var(--color-gray-lighten-20);
  --color-sidebar-subtle-bg: transparent;
  --color-sidebar-highlight-fg: var(--color-gray-lighten-60);
  --color-sidebar-highlight-bg: var(--color-gray-darken-5);
  --color-sidebar-highlight-border: var(--color-blue-base);

  --color-workspace-fg: var(--color-main-fg);
  --color-workspace-mg: var(--color-gray-lighten-100);
  --color-workspace-bg: var(--color-gray-lighten-50);
  --color-workspace-border: var(--color-main-border);
  --color-workspace-subtle-fg: var(--color-main-subtle-fg);
  --color-workspace-subtle-bg: var(--color-main-subtle-bg);
  --color-workspace-highlight-fg: var(--color-blue-base);
  --color-workspace-highlight-bg: var(--color-blue-base);
  --color-workspace-highlight-border: var(--color-blue-base);

  --color-icon-type: var(--color-brand-orange);
  --color-icon-test: var(--color-green-base);
  --color-icon-term: var(--color-purple-base);
  --color-icon-ability: var(--color-brand-bright-red);
  --color-icon-doc: var(--color-brand-yellow);
  --color-icon-patch: var(--color-blue-base);

  /* -- Default Syntax Theme ------------------------------------------------*/

  --color-syntax-plain: var(--color-main-fg);
  --color-syntax-subtle: var(--color-main-subtle-fg);
  --color-syntax-keyword: #225ebe;
  --color-syntax-operator: #c7474e;
  --color-syntax-name: #6848ba;
  --color-syntax-type: #225ebe;
  --color-syntax-variant: #438443;
  --color-syntax-text: #438443;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans-serif: "Inter var", sans-serif;
    --font-monospace: "Roboto Mono var", monospace;
  }
}

/* -- Global --------------------------------------------------------------- */
html {
  font-size: var(--base-size);
  font-family: var(--font-sans-serif);
}

body {
  font-size: 1rem;
  line-height: 1.4em;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-main-fg);
}

a:hover {
  text-decoration: underline;
}

/* -- Syntax --------------------------------------------------------------- */

pre {
  margin: 0;
}

code {
  display: inline-block;
  font-family: var(--font-monospace);
  line-height: 1.6rem;
}

code a {
  display: inline-block;
  padding: 0 0.375rem;
  margin: 0 -0.25rem;
  border-radius: var(--border-radius-base);
  line-height: 1.4rem;
}

code a:hover {
  background: var(--color-gray-lighten-50);
  text-decoration: none;
}

code a:active {
  transform: translate(0, 0.125rem);
}

.builtin {
  color: var(--color-syntax-base);
  font-style: italic;
}

.comment {
  color: var(--color-syntax-subtle);
}

.numberic-literal {
  color: var(--color-syntax-name);
}

.text-literal {
  color: var(--color-syntax-text);
}

.bytes-literal {
  color: var(--color-syntax-text);
}

.char-literal {
  color: var(--color-syntax-text);
}

.boolean-literal {
  color: var(--color-syntax-variant);
}

.blank {
  color: var(--color-syntax-base);
}

.var {
  color: var(--color-syntax-base);
}

.reference {
  color: var(--color-syntax-name);
}

.referent {
  color: var(--color-syntax-name);
}

.op.cons {
  color: var(--color-syntax-operator);
}

.op.snoc {
  color: var(--color-syntax-operator);
}

.op.concat {
  color: var(--color-syntax-operator);
}

.constructor {
  color: var(--color-syntax-variant);
}

.request {
  color: var(--color-syntax-name);
}

.ability-braces {
  color: var(--color-syntax-subtle);
}

.control-keyword {
  color: var(--color-syntax-keyword);
}

.type-operator {
  color: var(--color-syntax-operator);
}

.binding-equals {
  color: var(--color-syntax-subtle);
}

.type-ascription-colon {
  color: var(--color-syntax-operator);
}

.data-type-keyword {
  color: var(--color-syntax-keyword);
}

.data-type-params {
  color: var(--color-syntax-plain);
}

.unit {
  color: var(--color-syntax-subtle);
}

.data-type-modifier {
  color: var(--color-syntax-name);
}

.use-keyword {
  color: var(--color-syntax-keyword);
}

.use-prefix {
  color: var(--color-syntax-name);
}

.use-suffix {
  color: var(--color-syntax-variant);
}

.hash-qualifier {
  color: var(--color-syntax-name);
}

.delay-force-char {
  color: var(--color-syntax-operator);
  font-weight: bold;
}

.delimeter-char {
  color: var(--color-syntax-subtle);
}

.parenthesis {
  color: var(--color-syntax-subtle);
}

.link-keyword {
  color: var(--color-syntax-keyword);
}

.doc-delimeter {
  color: var(--color-syntax-subtle);
}

.doc-keyword {
  color: var(--color-syntax-keyword);
}

/* -- UI ------------------------------------------------------------------- */

.error-message {
  color: var(--color-brand-bright-red);
}

/* Loading placeholders */

.loading-placeholder {
  display: inline-block;
  height: calc(var(--font-size-base) * 0.65);
  border-radius: calc(var(--font-size-base) / 2);
  background: var(--main-subtle-fg);
  min-width: calc(var(--font-size-base) * 3);
}

button {
  border: 0;
  border-radius: var(--border-radius-base);
  /* TODO: Colors should be theme based */
  background: var(--color-gray-lighten-50);
  color: var(--color-main-fg);
  font-weight: bold;
  height: 2rem;
  padding: 0 0.75rem;
}

/* -- Icon ----------------------------------------------------------------- */

.icon {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  color: var(--color-main-fg);
  transition: all 0.2s;
}

.icon.type {
  color: var(--color-icon-type);
}

.icon.test {
  color: var(--color-icon-test);
}

.icon.term {
  color: var(--color-icon-term);
}

.icon.ability {
  color: var(--color-icon-ability);
}

.icon.doc {
  color: var(--color-icon-doc);
}

.icon.patch {
  color: var(--color-icon-patch);
}

/* -- Application ---------------------------------------------------------- */

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

/* -- Main Sidebar --------------------------------------------------------- */

#main-sidebar {
  width: var(--main-sidebar-width);
  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-fg);
  border-right: 1px solid var(--color-sidebar-border);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  overflow: auto;
  height: 100vh;
  padding: 1rem 1rem 1rem 1.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-subtle-fg) var(--color-sidebar-bg);
}

#main-sidebar::-webkit-scrollbar {
  width: 0.4rem;
}
#main-sidebar::-webkit-scrollbar-track {
  background: var(--color-sidebar-bg);
}
#main-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-subtle-fg);
  border-radius: 0.2rem;
}

#main-sidebar .loading-placeholder {
  background: var(--color-workspace-subtle-fg);
}

#main-sidebar header {
  margin-bottom: 2.5rem;
}

#main-sidebar h1 {
  font-size: var(--font-size-base);
  color: var(--color-sidebar-context-fg);
}

#main-sidebar h2 {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--color-sidebar-subtle-fg);
  margin-bottom: 0.125rem;
}

.namespace-tree {
  margin-left: -0.5rem;
}

.namespace-tree .node {
  display: flex;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  height: 1.75rem;
}

.namespace-tree .node:hover {
  background: var(--color-sidebar-highlight-bg);
  text-decoration: none;
}

.namespace-tree .node .icon {
  width: 0.875rem;
  height: 0.875rem;
  text-align: center;
  margin-right: 0.5rem;
}
.namespace-tree .node .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-subtle-fg);
}

.namespace-tree .node:hover .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-highlight-fg);
}

.namespace-tree .node label {
  color: var(--color-sidebar-fg);
  transition: all 0.2s;
  cursor: pointer;
}

.namespace-tree .node .definition-type {
  font-family: var(--font-monospace);
  color: var(--color-sidebar-subtle-fg);
  margin-left: 0.375rem;
  font-size: 0.75rem;
}

.namespace-tree .node:hover label {
  color: var(--color-sidebar-highlight-fg);
}

.namespace-tree .namespace-content {
  margin-left: 1rem;
}

/* -- Workspace ------------------------------------------------------------ */

#workspace {
  background: var(--color-workspace-bg);
  color: var(--color-workspace-fg);
  flex-grow: 1;
}

#workspace-toolbar {
  height: 3.5rem;
  padding: 0.75rem 1rem;
  font-size: var(--font-size-medium);
  background: var(--color-workspace-mg);
  border-bottom: 1px solid var(--color-workspace-border);
}

#workspace-content {
  overflow: auto;
  height: calc(100vh - 3.5rem);
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--color-workspace-subtle-fg) var(--color-workspace-mg);
}
#workspace-content::-webkit-scrollbar {
  width: 0.5rem;
}
#workspace-content::-webkit-scrollbar-track {
  background: var(--color-workspace-mg);
}
#workspace-content::-webkit-scrollbar-thumb {
  background-color: var(--color-workspace-subtle-fg);
  border-radius: var(--border-radius-base);
}

/* -- Definitions ---------------------------------------------------------- */

.definition-row {
  background: var(--color-workspace-mg);
  color: var(--color-workspace-fg);
  padding: 1rem;
  margin-bottom: 1px;
}

.definition-row .loading-placeholder {
  background: var(--color-workspace-bg);
}

.definition-row header {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.definition-row .close .icon {
  color: var(--color-workspace-subtle-fg);
}
.definition-row .close:hover .icon {
  color: var(--color-workspace-fg);
}

.definition-row header h3 {
  color: var(--color-workspace-fg);
  font-size: var(--font-size-base);
  font-weight: bold;
}

.definition-row .content {
  margin: 2rem 1rem 1rem;
}

.definition-row .content .docs {
  margin-bottom: 1rem;
}

.definition-row .content code {
  display: block;
  padding: 1rem 1.25rem;
  border-radius: var(--border-radius-base);
  background: var(--color-workspace-subtle-bg);
}

/* Definition row loading indicator */

.definition-row header .loading-placeholder {
  width: 10%;
}

.definition-row .content .loading-placeholder {
  display: block;
  width: 40%;
  margin-bottom: 0.3rem;
}

.definition-row .content code .loading-placeholder {
  display: block;
  width: 40%;
}
