/* -- App Header ---------------------------------------------------------- */

#app-header {
  grid-area: app-header;
  padding: 0 1rem 0 1.5rem;
  background: var(--color-app-header-bg);
  color: var(--color-app-header-fg);
  border-bottom: 1px solid var(--color-app-header-border);
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: var(--app-header-height);
}

#app-header .menu-toggle {
  display: none; /* enabled on mobile */
  line-height: 1.5rem;
  margin-right: 0.5rem;
}

#app-header .menu-toggle .icon {
  color: var(--color-app-header-subtle-fg);
  font-size: 1.5rem;
}
#app-header .menu-toggle:hover .icon {
  color: var(--color-app-header-subtle-fg-em);
}

#app-header .app-title {
  font-size: var(--font-size-base);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-app-header-fg);
}

#app-header .app-title h1 {
  font-size: var(--font-size-base);
}

#app-header .app-title:hover {
  text-decoration: none;
  transform: translate(0, 0.1rem);
}

#app-header .app-title .context {
  margin-left: 0.375rem;
}

#app-header .app-title .unison-share {
  color: var(--color-app-header-context-unison-share-fg);
}

#app-header .app-title .ucm {
  color: var(--color-app-header-context-ucm-fg);
}

#app-header .right {
  margin-left: auto;
  justify-self: flex-end;
  align-items: center;
}

#app-header .right .banner {
  margin-right: 0.75rem;
}

/* -- Responsive ----------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
  #app-header {
    padding: 0 1rem;
  }

  #app-header .menu-toggle {
    display: flex;
  }

  #app-header .banner {
    display: none;
  }
}
