.fully-qualified-name {
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  font-weight: bold;
  color: var(--u-color_text);
}

.fully-qualified-name .fully-qualified-name-separator {
  /* em instead of rem to have the margin be relative to the font-size of
   * .fully-qualified-name
  */
  margin: 0 0.25em;
  color: var(--u-color_text_very-subdued);
}
