.project-listing {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 0 0.25rem;
  border-radius: var(--border-radius-base);
}

.project-listing:hover {
  text-decoration: none;
  background: var(--u-color_element_hovered);
}

.project-listing .hashvatar {
  margin-right: 0.5rem;
}

