#workspace {
  --color-workspace-gutter: var(--u-color_container_subdued);
  --workspace-content-width: var(--main-content-width);

  display: flex;
  flex-direction: column;
}

#workspace-content {
  overflow: auto;
  height: calc(calc(100vh - var(--toolbar-height)) - var(--app-header-height));
  padding-top: 2rem;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--u-color_scrollbar) var(--u-color_scrollbar-track);
  /* gutter */
  box-shadow: inset 2rem 0 0 var(--color-workspace-gutter);
}

#workspace-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#workspace-content::-webkit-scrollbar-track {
  background: var(--u-color_scrollbar-track);
}

#workspace-content::-webkit-scrollbar-thumb {
  background-color: var(--u-color_scrollbar);
  border-radius: var(--border-radius-base);
}

@media only screen and (max-width: 1024px) {
  #workspace-content {
    box-shadow: none;
    height: auto;
    width: auto;
  }
}

@import "./workspace-item.css";
