/* -- Application ---------------------------------------------------------- */

#app {
  display: grid;
  grid-template-rows: 3.5rem auto;
  grid-template-columns: var(--main-sidebar-width) auto;
  grid-template-areas:
    "main-header main-header"
    "main-sidebar main-content";
}

/* -- Main Header ---------------------------------------------------------- */

#main-header {
  grid-area: main-header;
  padding: 0 1rem 0 1.5rem;
  background: var(--color-main-header-bg);
  color: var(--color-main-header-fg);
  border-bottom: 1px solid var(--color-main-header-border);
  display: flex;
  align-items: center;
  font-size: 1rem;
}

#main-header .sidebar-toggle {
  display: none; /* enabled on mobile */
  line-height: 1.5rem;
  margin-right: 0.5rem;
}

#main-header .sidebar-toggle .icon {
  color: var(--color-main-header-subtle-fg);
  font-size: 1.5rem;
}
#main-header .sidebar-toggle:hover .icon {
  color: var(--color-main-header-subtle-fg-em);
}

#main-header .app-context {
  font-size: var(--font-size-base);
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

#main-header .app-context .context {
  margin-left: 0.375rem;
}

#main-header .app-context .unison-share {
  color: var(--color-main-header-context-unison-share-fg);
}

#main-header .app-context .ucm {
  color: var(--color-main-header-context-ucm-fg);
}

#main-header .right {
  margin-left: auto;
  justify-self: flex-end;
}

/* -- Main Sidebar --------------------------------------------------------- */

#main-sidebar {
  grid-area: main-sidebar;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-fg);
  border-right: 1px solid var(--color-sidebar-border);
  font-size: var(--font-size-medium);
  padding: 1rem 1rem 1rem 1.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-subtle-fg) var(--color-sidebar-bg);
}

#main-sidebar::-webkit-scrollbar {
  width: 0.4rem;
}
#main-sidebar::-webkit-scrollbar-track {
  background: var(--color-sidebar-bg);
}
#main-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-subtle-fg);
  border-radius: 0.2rem;
}

#main-sidebar .loading-placeholder {
  background: var(--color-sidebar-subtle-fg);
  opacity: 0.5;
}

#main-sidebar h2 {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--color-sidebar-subtle-fg);
  margin-bottom: 0.125rem;
}

/* -- Codebase Tree -------------------------------------------------------- */

.codebase-tree .namespace-tree {
  margin-left: -0.5rem;
}

.codebase-tree .namespace-tree .node {
  display: flex;
  user-select: none;
  align-items: center;
  border-radius: var(--border-radius-base);
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  height: 1.75rem;
}

.codebase-tree .error {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  color: var(--color-pink-3);
}

.codebase-tree .error .icon {
  font-size: 1rem;
  margin-right: 0.25rem;
  color: var(--color-pink-1);
}

.codebase-tree .loading {
  padding-left: 0.5rem;
}

.codebase-tree .loading .loading-placeholder {
  width: 8rem;
}

.codebase-tree .namespace-content .loading {
  padding-left: 0.875rem;
}

.codebase-tree .namespace-content .loading .loading-placeholder {
  width: 6rem;
}

.codebase-tree .namespace-tree .node:hover {
  background: var(--color-sidebar-focus-bg);
  text-decoration: none;
}

.codebase-tree .namespace-tree .node .icon {
  font-size: 0.875rem;
  text-align: center;
  margin-right: 0.5rem;
  transition: transform 0.1s ease-out;
}

.codebase-tree .namespace-tree .node .icon.expanded {
  transform: rotate(90deg);
}

.codebase-tree .namespace-tree .node .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-subtle-fg);
}

.codebase-tree .namespace-tree .node:hover .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-focus-fg);
}

.codebase-tree .namespace-tree .node label {
  color: var(--color-sidebar-fg);
  transition: all 0.2s;
  cursor: pointer;
}

.codebase-tree .namespace-tree .node .definition-category {
  font-family: var(--font-monospace);
  color: var(--color-sidebar-subtle-fg);
  margin-left: 0.375rem;
  font-size: 0.75rem;
}

.codebase-tree .namespace-tree .node:hover label {
  color: var(--color-sidebar-focus-fg);
}

.codebase-tree .namespace-tree .node.open label {
  font-weight: bold;
}

.codebase-tree .namespace-tree .namespace-content {
  margin-left: 1rem;
}

/* -- Main Sidebar Nav ----------------------------------------------------- */

#main-sidebar nav {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-top: auto;
  padding-top: 2rem;
}

#main-sidebar nav a {
  height: 1.5rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
  border-radius: var(--border-radius-base);
}

#main-sidebar nav a,
#main-sidebar nav .icon {
  color: var(--color-sidebar-subtle-fg);
}

#main-sidebar nav a:hover,
#main-sidebar nav a:hover .icon {
  color: var(--color-sidebar-fg);
  text-decoration: none;
}

#main-sidebar nav .show-help {
  margin-top: 2rem;
  padding-right: 0.25rem;
  line-height: 1;
  display: flex;
  height: 2rem;
  align-items: center;
  font-weight: bold;
  color: var(--color-sidebar-fg);
  cursor: pointer;
}

#main-sidebar nav .show-help .keyboard-shortcut {
  justify-self: flex-end;
  margin-left: auto;
}

#main-sidebar .keyboard-shortcut .key {
  color: var(--color-sidebar-keyboard-shortcut-key-fg);
  background: var(--color-sidebar-keyboard-shortcut-key-bg);
  font-weight: normal;
}

#main-sidebar nav .show-help:hover {
  background: var(--color-sidebar-focus-bg);
}

/* -- Main Content --------------------------------------------------------- */

#main-content {
  grid-area: main-content;
}

/* -- Responsive ----------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
  #app {
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "main-header main-header"
      "main-content main-content";
  }

  #main-header {
    padding: 0 1rem;
  }

  #main-header .sidebar-toggle {
    display: flex;
  }

  #main-sidebar {
    display: none;
  }

  #main-content {
    width: 100vw;
  }

  #app.sidebar-toggled {
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "main-header main-header"
      "main-sidebar main-sidebar";
  }

  #app.sidebar-toggled #main-sidebar {
    display: flex;
    width: 100vw;
  }

  #app.sidebar-toggled #main-content {
    display: none;
  }
}

@import "./help-modal.css";
@import "./publish-modal.css";
@import "./report-bug-modal.css";
@import "./finder.css";

@import "./workspace.css";
@import "./definition-doc.css";
