#app {
  display: grid;
  grid-template-rows: var(--app-header-height) auto;
  grid-template-columns: auto;
  grid-template-areas:
    "app-header"
    "page-layout";
}

/* -- App Error ---------------------------------------------------------- */

.app-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  font-weight: 600;
  color: var(--color-main-mg);
}

.app-error .icon {
  font-size: 4rem;
  color: var(--color-main-alert);
}

@import "./help-modal.css";
@import "./publish-modal.css";
@import "./report-bug-modal.css";
@import "./download-modal.css";
@import "./finder.css";

@import "./perspective-landing.css";
@import "./workspace.css";
@import "./definition-doc.css";
@import "./project-listing.css";
