/* -- Application ---------------------------------------------------------- */

#app {
  display: grid;
  grid-template-rows: var(--app-header-height) auto;
  grid-template-columns: var(--main-sidebar-width) auto;
  grid-template-areas:
    "app-header app-header"
    "main-sidebar main-content";
  transition: grid-template-columns var(--transition-sidebar-collapse-time);
  --transition-sidebar-collapse-time: 0.3s;
}

#app .app-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  font-weight: 600;
  color: var(--color-main-mg);
}

#app .app-error .icon {
  font-size: 4rem;
  color: var(--color-main-alert);
}

/* -- Main Sidebar --------------------------------------------------------- */

#main-sidebar {
  grid-area: main-sidebar;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
  height: calc(100vh - var(--app-header-height));
  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-fg);
  border-right: 1px solid var(--color-sidebar-border);
  font-size: var(--font-size-medium);
  z-index: var(--layer-popover);

  --color-main-fg: var(--color-sidebar-fg);
  --color-main-subtle-fg: var(--color-sidebar-subtle-fg);

  --color-button-default-fg: var(--color-sidebar-button-default-fg);
  --color-button-default-bg: var(--color-sidebar-button-default-bg);
  --color-button-default-hover-fg: var(--color-sidebar-button-default-hover-fg);
  --color-button-default-hover-bg: var(--color-sidebar-button-default-hover-bg);

  --color-tooltip-fg: var(--color-sidebar-tooltip-fg);
  --color-tooltip-bg: var(--color-sidebar-tooltip-bg);
  --color-tooltip-border: var(--color-sidebar-tooltip-border);
}

#main-sidebar a:hover {
  text-decoration: none;
}

#main-sidebar .expanded-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--app-header-height));
  opacity: 1;
  transition: all var(--transition-sidebar-collapse-time);
  transition-delay: var(--transition-sidebar-collapse-time);
}

#main-sidebar .sidebar-scroll-area {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - var(--app-header-height));
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-subtle-fg) var(--color-sidebar-bg);
  padding: 0rem 1rem 1rem 1.5rem;
}

#main-sidebar .sidebar-scroll-area::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

#main-sidebar .sidebar-scroll-area::-webkit-scrollbar-track {
  background: var(--color-sidebar-bg);
}

#main-sidebar .sidebar-scroll-area::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-subtle-fg);
  border-radius: 0.2rem;
}

#main-sidebar .loading-placeholder {
  background: var(--color-sidebar-subtle-fg);
  opacity: 0.5;
}

#main-sidebar .sidebar-section {
  margin-top: 1.5rem;
}

#main-sidebar .sidebar-section:first-child {
  margin-top: 1rem;
}

#main-sidebar .sidebar-header {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--color-sidebar-subtle-fg);
  text-transform: uppercase;
  font-size: 0.75rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* TODO: Consolidate with codebase-tree .node */

#main-sidebar .sidebar-item {
  margin-left: -0.5rem;
  display: flex;
  user-select: none;
  align-items: center;
  border-radius: var(--border-radius-base);
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  height: 1.875rem;
}

#main-sidebar .sidebar-item > label {
  color: var(--color-sidebar-fg);
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.875;
}

#main-sidebar .sidebar-item:hover {
  background: var(--color-sidebar-focus-bg);
  text-decoration: none;
}

/* -- Collapsing ----------------------------------------------------------- */

#main-sidebar .collapse-sidebar-button {
  position: absolute;
  left: var(--main-sidebar-width);
  top: 1rem;
  z-index: var(--layer-popover);
  opacity: 0;
  transition: opacity 0.2s !important;
}

#app:not(.sidebar-toggled) .collapse-sidebar-button .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.2rem;
  background: var(--color-sidebar-bg);
}

#main-sidebar:not(.sidebar-toggled):hover .collapse-sidebar-button {
  opacity: 1;
}

#main-sidebar .collapsed-content {
  transform: translateX(-17rem);
  width: var(--main-sidebar-collapsed-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all var(--transition-sidebar-collapse-time) ease-in-out;
  position: absolute;
  bottom: 1rem;
  gap: 1.5rem;
}

#main-sidebar .collapsed-content .keyboard-shortcut:hover .key {
  color: var(--color-sidebar-keyboard-shortcut-hover-key-fg);
}

/* -- Perspective ---------------------------------------------------------- */

#main-sidebar .perspective {
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0.75rem;
}

#main-sidebar .perspective:after {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  bottom: -2rem;
  height: 3rem;
  content: "";
  background: linear-gradient(
    var(--color-sidebar-bg),
    var(--color-sidebar-bg),
    var(--color-sidebar-bg-transparent)
  );
}

#main-sidebar .perspective .namespace-slug {
  position: relative;
}

#main-sidebar .perspective.is-overflowing .namespace-slug:after {
  position: absolute;
  top: 0;
  right: -1.5rem;
  bottom: 0;
  content: "";
  width: 1.5rem;
  background: linear-gradient(
    90deg,
    var(--color-sidebar-bg),
    var(--color-sidebar-bg),
    var(--color-sidebar-bg-transparent)
  );
}

#main-sidebar .perspective .namespace {
  display: inline-flex;
  color: var(--color-sidebar-fg-em);
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  flex-direction: row-reverse;
}

#main-sidebar .perspective .tooltip-bubble {
  width: 16rem;
}

#main-sidebar .perspective .button {
  opacity: 0.5;
  margin-left: 0.375rem;
}

#main-sidebar .perspective .button:hover {
  opacity: 1;
}

/* -- Main Sidebar Unison Submenu ----------------------------------------------------- */

#main-sidebar .sidebar-unison-submenu {
  color: var(--color-sidebar-subtle-fg);
  width: 1.5rem;
  height: 1.5rem;
}

#main-sidebar .sidebar-unison-submenu:hover {
  color: var(--color-sidebar-focus-fg);
}

#main-sidebar nav a.tooltip-menu-item {
  margin-left: 0;
}

/* -- Main Sidebar Nav ----------------------------------------------------- */

#main-sidebar nav {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  flex: none;
  margin-top: auto;
  padding-top: 1.5rem;
}

#main-sidebar nav a {
  height: 1.5rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
  border-radius: var(--border-radius-base);
  white-space: nowrap;
}

#main-sidebar nav a,
#main-sidebar nav .icon {
  color: var(--color-sidebar-subtle-fg);
}

#main-sidebar nav a:hover,
#main-sidebar nav a:hover .icon {
  color: var(--color-sidebar-fg);
  text-decoration: none;
}

#main-sidebar .show-help {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-sidebar-fg);
  cursor: pointer;
  height: 1.875rem;
  margin-top: 1.5rem;
}

#main-sidebar .show-help:hover {
  text-decoration: none;
}

#main-sidebar .show-help .keyboard-shortcut {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0.1875rem;
}

#main-sidebar .keyboard-shortcut .key {
  color: var(--color-sidebar-keyboard-shortcut-key-fg);
  background: var(--color-sidebar-keyboard-shortcut-key-bg);
  font-weight: normal;
}

#main-sidebar .show-help:hover {
  background: var(--color-sidebar-focus-bg);
}
#main-sidebar .show-help:hover .key {
  color: var(--color-sidebar-keyboard-shortcut-hover-key-fg);
}

/* -- Main Content --------------------------------------------------------- */

#main-content {
  grid-area: main-content;
  height: calc(100vh - var(--app-header-height));
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--color-main-subtle-fg) var(--color-main-bg);
}
#main-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#main-content::-webkit-scrollbar-track {
  background: var(--color-main-bg);
}

#main-content::-webkit-scrollbar-thumb {
  background-color: var(--color-main-subtle-fg);
  border-radius: var(--border-radius-base);
}

/* -- Responsive ----------------------------------------------------------- */

@media only screen and (min-width: 1025px) {
  #app.sidebar-toggled {
    --main-sidebar-width: var(--main-sidebar-collapsed-width);
  }

  #app.sidebar-toggled .collapse-sidebar-button {
    animation: collapse-sidebar-button var(--transition-sidebar-collapse-time)
      ease-in-out;
    transition: none;
    animation-fill-mode: forwards;
  }

  #app.sidebar-toggled #main-sidebar {
    overflow: visible;
  }

  #app.sidebar-toggled #main-sidebar .collapsed-content {
    opacity: 1;
    transform: translateX(0);
  }

  #app.sidebar-toggled #main-sidebar .expanded-content {
    transition: opacity;
    transition-duration: var(--transition-sidebar-collapse-time) * 1.1;
    transition-delay: 0;
    opacity: 0;
    overflow: hidden;
  }

  #app.sidebar-toggled .sidebar-scroll-area {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  #app {
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "app-header app-header"
      "main-content main-content";
  }

  #main-sidebar {
    display: none;
  }

  #main-content {
    width: 100vw;
  }

  #app.sidebar-toggled {
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto auto;
    grid-template-areas:
      "app-header app-header"
      "main-sidebar main-sidebar";
  }

  #app.sidebar-toggled #main-sidebar {
    display: flex;
    width: 100vw;
  }

  #app.sidebar-toggled .collapse-sidebar-button,
  #app.sidebar-toggled #main-content {
    display: none;
  }
}

/* collapse animations */
@keyframes collapse-sidebar-button {
  0% {
    opacity: 0;
    transform: translateX(-17rem);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(-3.15rem);
  }
}

@import "./help-modal.css";
@import "./publish-modal.css";
@import "./report-bug-modal.css";
@import "./finder.css";

@import "./perspective-landing.css";
@import "./workspace.css";
@import "./definition-doc.css";
