.card {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-card-fg);
  border-radius: var(--border-radius-base);
  background: var(--color-card-bg);
}

.card .card-title {
  color: var(--color-card-title);
  text-transform: uppercase;
  font-size: var(--font-size-medium);
}
