.definition-doc {
  position: relative;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  font-size: var(--font-size-medium);
  color: var(--color-doc-fg);
  background: var(--color-doc-bg);
}

/* When the parent wrapper (typically .workspace-item is focused and has a
 * slightly darker background, we want to use focus colors */
.focused .definition-doc {
  --color-doc-fg: var(--color-doc-focus-fg);
  --color-doc-bg: var(--color-doc-focus-bg);
  --color-doc-aside-bg: var(--color-doc-focus-aside-bg);
  --color-doc-aside-source-bg: var(--color-doc-focus-aside-source-bg);
  --color-doc-callout-bg: var(--color-doc-focus-callout-bg);
  --color-doc-subtle-fg: var(--color-doc-focus-subtle-fg);
  --color-doc-source-bg: var(--color-doc-focus-source-bg);
  --color-doc-source-mg: var(--color-doc-focus-source-mg);
  --color-doc-fold-hover-fg: var(--color-doc-focus-fold-hover-fg);
  --color-doc-fold-hover-bg: var(--color-doc-focus-fold-hover-bg);
  --color-doc-link: var(--color-doc-focus-link);
  --color-doc-link-active: var(--color-doc-focus-link-active);
  --color-doc-link-hover: var(--color-doc-focus-link-hover);
  --color-doc-content-border: var(--color-doc-focus-content-border);
}

.definition-doc .word {
  margin-right: 0.5ch;
}

.definition-doc .source.code,
.definition-doc .sources .source,
.definition-doc .folded-sources .source,
.definition-doc .source.example,
.definition-doc .source.eval,
.definition-doc .source.signatures .signature {
  padding: 0.5rem 0.75rem;
  background: var(--color-doc-source-bg);
  border-radius: var(--border-radius-base);
  margin-bottom: 1rem;
  scrollbar-width: auto;
  scrollbar-color: var(--color-workspace-item-subtle-fg) transparent;
  overflow: auto;
}

.definition-doc .folded-sources .source {
  padding: 0.5rem;
}

.definition-doc .source.code::-webkit-scrollbar,
.definition-doc .sources .source::-webkit-scrollbar,
.definition-doc .folded-sources .source::-webkit-scrollbar,
.definition-doc .source.example::-webkit-scrollbar,
.definition-doc .source.eval::-webkit-scrollbar,
.definition-doc .source.signatures .signature::-webkit-scrollbar {
  height: 0.375rem;
}
.definition-doc .source.code::-webkit-scrollbar-track,
.definition-doc .sources .source::-webkit-scrollbar-track,
.definition-doc .folded-sources .source::-webkit-scrollbar-track,
.definition-doc .source.example::-webkit-scrollbar-track,
.definition-doc .source.eval::-webkit-scrollbar-track,
.definition-doc .source.signatures .signature::-webkit-scrollbar-track {
  background: transparent;
}
.definition-doc .source.code::-webkit-scrollbar-thumb,
.definition-doc .sources .source::-webkit-scrollbar-thumb,
.definition-doc .folded-sources .source::-webkit-scrollbar-thumb,
.definition-doc .source.example::-webkit-scrollbar-thumb,
.definition-doc .source.eval::-webkit-scrollbar-thumb,
.definition-doc .source.signatures .signature::-webkit-scrollbar-thumb {
  background-color: var(--color-workspace-item-subtle-fg);
  border-radius: var(--border-radius-base);
}

.definition-doc .source code {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.definition-doc
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  display: inline-block;
  padding: 0 0.25rem;
  margin-right: 0.5ch;
  background: var(--color-doc-source-bg);
  border-radius: var(--border-radius-base);
  white-space: nowrap;
}
.definition-doc
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline)
  :is(.inline-code, code) {
  display: inline-flex;
  white-space: nowrap;
}

/* code and inline-code render sub definition-docs, not syntax */
:is(.definition-doc .source.code, .definition-doc .source.inline-code)
  .word:last-child {
  margin-right: 0;
}

.definition-doc .eval .result .icon,
.definition-doc .eval-inline .result .icon {
  color: var(--color-doc-subtle-fg);
}

.definition-doc strong {
  font-weight: bold;
}

.definition-doc .italic {
  font-style: italic;
}

.definition-doc .strikethrough {
  text-decoration: line-through;
}

.definition-doc .named-link:not(.invalid-href),
.definition-doc .named-link:not(.invalid-href):visited {
  color: var(--color-doc-link);
}
.definition-doc .named-link:not(.invalid-href):active {
  color: var(--color-doc-link-active);
}
.definition-doc .named-link:not(.invalid-href):hover {
  color: var(--color-doc-link-hover);
  text-decoration: none;
}

.definition-doc blockquote {
  position: relative;
  padding: 0.5rem 1.25rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.definition-doc blockquote:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--color-doc-content-border);
  width: 0.25rem;
  border-radius: var(--border-radius-base);
}

.definition-doc hr {
  background: var(--color-doc-content-border);
  margin: 1.5rem 0;
}

.definition-doc .tooltip-trigger {
  text-decoration: underline dotted var(--color-doc-subtle-fg);
  text-underline-offset: 2px;
  /* Other tooltip styling is handled by elements/tooltip */
}

.definition-doc .tooltip {
  min-width: 24rem;
  top: 1rem;
}

.definition-doc .tooltip-bubble > section:only-child {
  margin: 0;
}
.definition-doc .tooltip-bubble > section:only-child > :is(h1, h2, h3, h4, h5) {
  margin-top: 0;
}

.definition-doc aside {
  position: absolute;
  right: -16rem;
  width: 15rem;
  font-size: var(--font-size-small);
  background: var(--color-doc-aside-bg);
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  border-radius: var(--border-radius-base);
}

.definition-doc aside > section:first-child {
  margin: 0;
}

.definition-doc aside .source.code,
.definition-doc aside .sources .source,
.definition-doc aside .folded-sources .source,
.definition-doc aside .source.example,
.definition-doc aside .source.eval,
.definition-doc aside .source.signatures .signature {
  background: var(--color-doc-aside-source-bg);
  padding: 0.375rem;
  max-width: 14rem; /* accounting for the aside padding */
  overflow: auto;
}
.definition-doc
  aside
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  background: var(--color-doc-aside-source-bg);
  white-space: wrap;
}

.definition-doc .callout {
  background: var(--color-doc-callout-bg);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: row;
}

.definition-doc .callout.callout-with-icon .callout-content {
  padding-top: 1px;
}

.definition-doc .callout .callout-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.definition-doc table {
  margin-bottom: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
}

.definition-doc table td {
  border: 1px solid var(--color-doc-content-border);
  padding: 0.5rem;
}

.definition-doc .folded {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.definition-doc .folded .folded-content {
  flex: 1;
}

.definition-doc .folded .builtin-summary {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.definition-doc .source.folded .badge {
  margin-left: auto;
  justify-self: flex-end;
  background: var(--color-doc-source-mg);
  border: 0;
  font-size: 0.75rem;
  height: 1.25rem;
  padding: 0 0.25rem;
}

.definition-doc p {
  margin-bottom: 1em;
}

.definition-doc p:last-child {
  margin: 0;
}

.definition-doc ol,
.definition-doc ul {
  margin-left: 1.5rem;
  margin-bottom: 1em;
}

.definition-doc ol:last-child,
.definition-doc ul:last-child {
  margin-bottom: 0;
}

.definition-doc section {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.definition-doc section:first-child {
  margin-top: 0;
}
.definition-doc section:last-child {
  margin-bottom: 0;
}

:is(.definition-doc h1, .definition-doc h2, .definition-doc h3, .definition-doc
    h4, .definition-doc h5, .definition-doc h6)
  p {
  margin: 0;
}

.definition-doc h1 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.definition-doc h1:first-child {
  margin-top: 0;
}

.definition-doc h2 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.definition-doc h3 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h4 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h5 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h6 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc img {
  margin-bottom: 1rem;
}

.definition-doc .image-with-caption {
  width: min-content;
}

.definition-doc .image-with-caption .caption {
  text-align: center;
  font-style: italic;
}

.definition-doc .embed {
}

.definition-doc .embed-inline {
}

.definition-doc .column {
  margin: 0;
  list-style-type: none;
}

.definition-doc .group {
}

@media only screen and (max-width: 1024px) {
  .definition-doc .source.code,
  .definition-doc .sources .source,
  .definition-doc .folded-sources .source,
  .definition-doc .source.example,
  .definition-doc .source.eval,
  .definition-doc .source.signatures .signature {
    width: calc(100vw - 2rem);
    overflow: auto;
  }

  .definition-doc aside {
    position: relative;
    right: auto;
    width: auto;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .definition-doc aside .source.code,
  .definition-doc aside .sources .source,
  .definition-doc aside .folded-sources .source,
  .definition-doc aside .source.example,
  .definition-doc aside .source.eval,
  .definition-doc aside .source.signatures .signature {
    max-width: none;
    width: min(40rem, calc(calc(100vw - 2rem)) - 3rem);
  }
}
