.definition-doc {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
}

.definition-doc .word {
  margin-right: 0.5ch;
}

.definition-doc .source.code,
.definition-doc .sources .source,
.definition-doc .folded-sources .source,
.definition-doc .source.example,
.definition-doc .source.eval,
.definition-doc .source.signatures .signature {
  padding: 0.5rem;
  background: var(--color-workspace-item-doc-source-bg);
  border-radius: var(--border-radius-base);
  margin-bottom: 1rem;
}

.definition-doc .source code {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.definition-doc .source.inline-code,
.definition-doc .source.example-inline,
.definition-doc .source.eval-inline,
.definition-doc .source.signature-inline {
  display: inline-block;
  padding: 0 0.25rem;
  margin-right: 0.5ch;
  background: var(--color-workspace-item-doc-source-bg);
  border-radius: var(--border-radius-base);
}

/* code and inline-code render sub definition-docs, not syntax */
:is(.definition-doc .source.code, .definition-doc .source.inline-code)
  .word:last-child {
  margin-right: 0;
}

.definition-doc .eval .result .icon,
.definition-doc .eval-inline .result .icon {
  color: var(--color-workspace-item-subtle-fg-em);
}

.definition-doc strong {
  font-weight: bold;
}

.definition-doc .italic {
  font-style: italic;
}

.definition-doc .strikethrough {
  text-decoration: line-through;
}

.definition-doc .named-link:not(.invalid-href),
.definition-doc .named-link:not(.invalid-href):visited {
  color: var(--color-workspace-item-link);
}
.definition-doc .named-link:not(.invalid-href):active {
  color: var(--color-workspace-item-link-active);
}
.definition-doc .named-link:not(.invalid-href):hover {
  color: var(--color-workspace-item-link-hover);
  text-decoration: none;
}

.definition-doc blockquote {
  position: relative;
  padding: 0.5rem 1.25rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.definition-doc blockquote:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--color-workspace-item-content-border);
  width: 0.25rem;
  border-radius: var(--border-radius-base);
}

.definition-doc hr {
  background: var(--color-workspace-item-content-border);
  margin: 1.5rem 0;
}

.definition-doc .tooltip-trigger {
  text-decoration: underline dotted var(--color-workspace-item-subtle-fg);
  text-underline-offset: 2px;
  /* Other tooltip styling is handled by elements/tooltip */
}

.definition-doc .tooltip {
  min-width: 24rem;
  top: 1rem;
}

.definition-doc .tooltip-bubble > section:only-child {
  margin: 0;
}

.definition-doc aside {
  width: 33%;
  font-size: var(--font-size-small);
  background: var(--color-workspace-item-mg);
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  float: right;
  border-radius: var(--border-radius-base);
}

.definition-doc aside p:last-child {
  margin-bottom: 0;
}

.definition-doc .callout {
  background: var(--color-workspace-item-em-bg);
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: row;
}

.definition-doc .callout.callout-with-icon .callout-content {
  padding-top: 1px;
}

.definition-doc .callout p:last-child {
  margin-bottom: 0;
}

.definition-doc .callout .callout-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.definition-doc table {
  margin-bottom: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
}

.definition-doc table td {
  border: 1px solid var(--color-workspace-item-content-border);
  padding: 0.5rem;
}

.definition-doc .folded {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.definition-doc .folded .fold-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.25rem;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-base);
  transition: all 0.2s;
}

.definition-doc .folded .icon {
  color: var(--color-workspace-item-subtle-fg);
}

.definition-doc .folded .fold-toggle:hover {
  text-decoration: none;
}

.definition-doc .folded:not(.disabled) .fold-toggle:hover {
  background: var(--color-workspace-item-subtle-bg);
}
.definition-doc .folded:not(.disabled) .fold-toggle:hover .icon {
  color: var(--color-workspace-item-subtle-fg-em);
}

.definition-doc
  .source.folded:not(.disabled)
  .fold-toggle:hover
  .fold-toggle-indicator {
  background: var(--color-workspace-item-doc-source-mg);
}

.definition-doc .folded .icon {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.1s ease-out;
}

.definition-doc .folded.disabled .icon {
  cursor: inherit;
  opacity: 0.5;
}

.definition-doc .folded.is-folded .icon {
  transform: rotate(-90deg);
}

.definition-doc .folded .folded-content {
  flex: 1;
}

.definition-doc .folded .builtin-summary {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.definition-doc .source.folded .badge {
  margin-left: auto;
  justify-self: flex-end;
  background: var(--color-workspace-item-doc-source-mg);
  border: 0;
  font-size: 0.75rem;
  height: 1.25rem;
  padding: 0 0.25rem;
}

.definition-doc p {
  margin-bottom: 1em;
}

.definition-doc p:last-child {
  margin: 0;
}

.definition-doc ol,
.definition-doc ul {
  margin-left: 2rem;
  margin-bottom: 1em;
}

.definition-doc section {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

:is(.definition-doc h1, .definition-doc h2, .definition-doc h3, .definition-doc
    h4, .definition-doc h5, .definition-doc h6)
  p {
  margin: 0;
}

.definition-doc h1 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.definition-doc h2 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.definition-doc h3 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h4 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h5 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc h6 {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.definition-doc > section:first-child > h1:first-child,
.definition-doc > section:first-child > h2:first-child,
.definition-doc > section:first-child > h3:first-child,
.definition-doc > section:first-child > h4:first-child,
.definition-doc > section:first-child > h5:first-child,
.definition-doc > section:first-child > h6:first-child {
  margin: 0;
}

.definition-doc img {
  margin-bottom: 1rem;
}

.definition-doc .image-with-caption {
  width: min-content;
}

.definition-doc .image-with-caption .caption {
  text-align: center;
  font-style: italic;
}

.definition-doc .embed {
}

.definition-doc .embed-inline {
}

.definition-doc .column {
  margin: none;
  list-style-type: none;
}

.definition-doc .group {
}

@media only screen and (max-width: 1024px) {
  .definition-doc .source.code,
  .definition-doc .sources .source,
  .definition-doc .folded-sources .source,
  .definition-doc .source.example,
  .definition-doc .source.eval,
  .definition-doc .source.signatures .signature {
    width: calc(100vw - 2rem);
    overflow: scroll;
  }
}

@media only screen and (max-width: 414px) {
  .definition-doc aside {
    width: auto;
    float: none;
    margin: 0 1rem;
  }
}
