a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-main-fg);
}

a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  border-radius: 0;
  font-family: var(--font-sans-serif);
  caret-color: var(--color-main-focus-fg);
}

::placeholder {
  color: var(--color-main-subtle-fg);
}

li::marker {
  color: var(--color-main-subtle-fg-em);
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-base);
}

h3 {
  font-size: var(--font-size-medium);
}

p {
  margin-bottom: 1em;
}

hr {
  background: var(--color-main-divider);
  border: 0;
  margin: 1.5rem 0;
  height: 2px;
  border-radius: 1px;
}

.loading-placeholder {
  display: inline-block;
  height: calc(var(--font-size-base) * 0.65);
  border-radius: calc(var(--font-size-base) / 2);
  background: var(--main-subtle-fg);
  min-width: calc(var(--font-size-base) * 3);
}

.loading-placeholder-row {
  margin-bottom: 0.5rem;
}

.error-message {
  color: var(--color-pink-1);
}

.subtle {
  color: var(--color-main-subtle-fg);
}

.badge {
  color: var(--color-badge-fg);
  background: var(--color-badge-bg);
  border: 1px solid var(--color-badge-border);
  font-size: var(--font-size-small);
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-base);
}

.option-badge {
  padding: 0 0.75rem;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 1.5rem;
  border-radius: calc(1.5rem / 2);
  border: 1px solid var(--color-option-badge-border);
  background: var(--color-option-badge-bg);
  color: var(--color-option-badge-fg);
  font-size: var(--font-size-small);
  cursor: pointer;
}

.option-badge .icon {
  font-size: 0.625rem;
  color: var(--color-gray-option-badge-icon);
  margin-right: 0.375rem;
  line-height: 1;
}

.option-badge:hover .icon {
  color: var(--color-option-badge-hover-icon);
}

.option-badge .subtle {
  color: var(--color-option-badge-subtle-fg);
}

/* -- KEYBOARD SHORTCUT -- */

.keyboard-shortcuts {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-left: auto;
}

.keyboard-shortcuts .separator {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.875rem;
  color: var(--color-keyboard-shortcut-separator);
  align-items: center;
  margin: 0 0.4rem;
  line-height: 1;
}

.keyboard-shortcut {
  display: flex;
  flex-direction: row;
  /* gap: 0.25rem; */
}
.keyboard-shortcut .key {
  margin-right: 0.25rem;
}
.keyboard-shortcut:last-child .key {
  margin-right: 0;
}

.keyboard-shortcut .key:last-child {
  margin-right: 0;
}

.keyboard-shortcut .key {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.75rem;
  padding: 0.375rem;
  border-radius: var(--border-radius-base);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--color-keyboard-shortcut-key-fg);
  background: var(--color-keyboard-shortcut-key-bg);
  transition: all 0.2s;
}

.keyboard-shortcut .then {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.625rem;
  line-heigth: 1;
  margin: 0 0.35rem;
  color: var(--color-keyboard-shortcut-then);
  align-items: center;
}

/* Namespace Slug */
.namespace-slug {
  display: inline-flex;
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/namespace-slug-untitled.svg);
}

@import "./elements/icon.css";
@import "./elements/banner.css";
@import "./elements/button.css";
@import "./elements/tooltip.css";
@import "./elements/fold-toggle.css";
@import "./elements/fully-qualified-name.css";
