#finder {
  width: 50rem;
}

#finder:focus {
  outline: none;
}

#finder header {
  background: var(--color-modal-mg);
  display: flex;
  align-items: center;
  position: relative;
}

#finder header .icon.search {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-modal-subtle-fg);
  transition: color 0.5s;
  transition-delay: 0.4s;

  /* shine trails */
  --color-icon-2: var(--color-pink-1);
  --color-icon-3: var(--color-orange-2);
  --color-icon-4: var(--color-blue-2);
  --icon-animation-delay: 0.5s;
  --icon-transition-delay: 0.3s;
}

#finder .is-searching .icon.search {
  color: var(--color-modal-fg);
}

#finder input {
  height: 2rem;
  background: transparent;
  width: 100%;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}

#finder input::placeholder {
  font-weight: normal;
}

#finder input:focus {
  outline: none;
}

#finder .reset {
  height: 3rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

#finder .reset .icon {
  color: var(--color-modal-subtle-fg);
}

#finder .reset:hover .icon {
  color: var(--color-modal-fg);
}

#finder .empty-state {
  position: relative;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid var(--color-modal-inner-border);
  color: var(--color-modal-subtle-fg);
}

#finder .error {
  position: relative;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid var(--color-modal-inner-border);
  color: var(--color-modal-fg);
}

#finder .error p {
  margin-bottom: 0.25rem;
}

#finder .error h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#finder .error .icon {
  font-size: 1.3rem;
  margin-bottom: 0.15rem;
  margin-right: 0.25rem;
  color: var(--color-modal-error-fg);
}

/* results */

#finder .results {
  position: relative;
  padding: 0.75rem;
  border-top: 1px solid var(--color-modal-inner-border);
}

#finder .results:after,
#finder .empty-state:after,
#finder .error:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-bg);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  transition-delay: 0.3s;
}

#finder .is-searching .results:after,
#finder .is-searching .empty-state:after,
#finder .is-searching .error:after {
  opacity: 0.65;
  pointer-events: auto;
}

#finder .results table {
  width: 100%;
}

#finder .results table td {
  height: 4rem;
  vertical-align: top;
  padding: 0.75rem;
}

#finder .definition-match {
  position: relative;
  z-index: var(--layer-modal-above);
  padding: 1rem 0.75rem;
  cursor: pointer;
}

#finder .definition-match td:first-child {
  border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
}

#finder .definition-match td:last-child {
  border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
}

#finder .definition-match mark {
  color: var(--color-modal-mark-fg);
  background: var(--color-modal-mark-bg);
}

#finder .definition-match .category {
  width: 0.875rem;
  padding: 0.75rem 0 0 0.75rem;
}

#finder .definition-match .category .icon {
  margin-top: 0.2rem;
}

#finder .definition-match .naming {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 0.5rem;
}

#finder .definition-match .name {
  font-weight: bold;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  max-width: 14rem;
  overflow: hidden;
  cursor: pointer;
}

#finder .definition-match .namespace {
  font-size: 0.625rem;
  margin-top: 0.25rem;
  text-overflow: ellipsis;
  max-width: 14rem;
  overflow: hidden;
  cursor: pointer;
}

#finder .definition-match .namespace .in {
  color: var(--color-modal-subtle-fg-em);
  margin-right: 0.25rem;
}

#finder .definition-match .source {
  border-left: 1px solid var(--color-modal-separator);
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.9rem 0.75rem;
  position: relative;
}

#finder .definition-match .source code {
  line-height: inherit;
}

#finder .definition-match .source pre {
  font-size: 0.75rem;
}

#finder .definition-match .shortcut {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 100%;
}

#finder .definition-match .keyboard-shortcut {
  margin-left: auto;
  font-size: 0.75rem;
  align-self: center;
}

#finder .definition-match .keyboard-shortcut .key {
  color: var(--color-modal-subtle-fg-em);
  background: var(--color-modal-subtle-bg);
}

#finder .definition-match .keyboard-shortcut .key.active {
  color: var(--color-modal-focus-subtle-fg);
  background: var(--color-modal-focus-subtle-bg);
}

#finder .definition-match .keyboard-shortcut .then {
  color: var(--color-modal-subtle-fg);
}

/* focused */

#finder .definition-match.focused td {
  background: var(--color-modal-focus-bg);
}

#finder .definition-match.focused .source {
  border-color: var(--color-modal-focus-bg);
}

#finder .definition-match.focused .keyboard-shortcut .key {
  color: var(--color-modal-focus-subtle-fg);
  background: var(--color-modal-focus-subtle-bg);
}

/* hover */

#finder .definition-match:not(.focused):hover td {
  background: var(--color-modal-mg);
}

#finder .definition-match:not(.focused):hover .keyboard-shortcut .key {
  background: var(--color-modal-subtle-mg);
}
