/* -- INTER ---------------------------------------------------------------- */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Thin.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ThinItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ExtraLight.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter/Inter-LightItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Italic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter/Inter-MediumItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter/Inter-BoldItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter/Inter-BlackItalic.woff2") format("woff2"),
    url("../fonts/Inter/Inter-BlackItalic.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Inter/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../fonts/Inter/Inter-italic.var.woff2") format("woff2");
}

/* -- Roboto Mono ---------------------------------------------------------- */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-SemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/RobotoMono/RobotoMono-BoldItalic.ttf") format("truetype");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Roboto Mono', monospace; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Roboto Mono var', monospace; }
  }
*/
@font-face {
  font-family: "Roboto Mono var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Mono var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}
