/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
table,
tr,
td,
li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --size-base: 16px;
  --main-sidebar-width: 16rem;
  --border-radius-base: 0.25rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-base: 1;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */

  --font-sans-serif: "Inter var", sans-serif;
  --font-monospace: "Roboto Mono var", monospace;

  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  /* -- All colors --------------------------------------------------------- */

  /* Brand colors */
  --color-brand-bright-red: #ff4756;
  --color-brand-orange: #ff8800;
  --color-brand-yellow: #ffc41f;
  --color-brand-purple: #8f228f;
  --color-brand-dark-purple: #520066;

  /* Grays */
  --color-gray-darken-5: #3d3e43;
  --color-gray-darken-20: #2d2e35;
  --color-gray-darken-25: #22232a;
  --color-gray-darken-30: #18181c;

  --color-gray-base: #515258;

  --color-gray-lighten-20: #818286;
  --color-gray-lighten-30: #bdbfc6;
  --color-gray-lighten-40: #d1d5dc;
  --color-gray-lighten-50: #e6ebf0;
  --color-gray-lighten-55: #f1f3f5;
  --color-gray-lighten-60: #fafafb;
  --color-gray-lighten-100: #ffffff;

  /* Pinks */
  --color-pink-1: #ff4756;
  --color-pink-2: #ff6c78;
  --color-pink-3: #ff9ba3;

  /* Greens */
  --color-green-1: #27ae60;

  /* Blues */
  --color-blue-1: #225ebe;
  --color-blue-2: #5695f4;

  /* Oranges */
  --color-orange-1: #ff8800;
  --color-orange-2: #ffc41f;

  /* Purples */
  --color-purple-1: #55377b;
  --color-purple-2: #734da3;
  --color-purple-3: #9a76c8;
  --color-purple-4: #c6a8ec;

  /* -- Default Theme -------------------------------------------------------*/
  --color-main-fg: var(--color-gray-darken-30);
  --color-main-bg: var(--color-gray-lighten-100);
  --color-main-subtle-fg: var(--color-gray-lighten-30);
  --color-main-subtle-bg: var(--color-gray-lighten-60);
  --color-main-border: var(--color-gray-lighten-40);
  --color-main-subtle-border: var(--color-gray-lighten-50);
  --color-main-focus-fg: var(--color-blue-2);
  --color-main-focus-bg: var(--color-blue-2);
  --color-main-mark-fg: var(--color-blue-2);
  --color-main-mark-bg: transparent;

  --color-keyboard-shortcut-key-fg: var(--color-gray-base);
  --color-keyboard-shortcut-key-bg: var(--color-gray-lighten-50);
  --color-keyboard-shortcut-then: var(--color-gray-lighten-20);
  --color-keyboard-shortcut-separator: var(--color-gray-lighten-30);

  --color-sidebar-fg: var(--color-gray-lighten-50);
  --color-sidebar-bg: var(--color-gray-darken-20);
  --color-sidebar-context-unison-share-fg: var(--color-purple-4);
  --color-sidebar-context-ucm-fg: var(--color-orange-1);
  --color-sidebar-border: transparent;
  --color-sidebar-subtle-fg: var(--color-gray-lighten-20);
  --color-sidebar-subtle-bg: transparent;
  --color-sidebar-focus-fg: var(--color-gray-lighten-60);
  --color-sidebar-focus-bg: var(--color-gray-darken-5);
  --color-sidebar-keyboard-shortcut-key-fg: var(--color-gray-lighten-30);
  --color-sidebar-keyboard-shortcut-key-bg: var(--color-gray-base);
  --color-sidebar-keyboard-shortcut-then: var(--color-gray-lighten-20);
  --color-sidebar-keyboard-shortcut-separator: var(--color-gray-base);

  --color-workspace-fg: var(--color-main-fg);
  --color-workspace-bg: var(--color-main-bg);
  --color-workspace-subtle-bg: var(--color-gray-lighten-60);
  --color-workspace-border: var(--color-gray-lighten-50);

  --color-workspace-item-fg: var(--color-gray-darken-30);
  --color-workspace-item-mg: transparent;
  --color-workspace-item-bg: transparent;
  --color-workspace-item-subtle-fg: var(--color-gray-lighten-40);
  --color-workspace-item-subtle-fg-em: var(--color-gray-lighten-20);
  --color-workspace-item-subtle-bg: var(--color-main-subtle-bg);
  --color-workspace-item-border: transparent;

  --color-workspace-item-focus-fg: var(--color-blue-2);
  --color-workspace-item-focus-subtle-fg: var(--color-gray-lighten-20);
  --color-workspace-item-focus-mg: transparent;
  --color-workspace-item-focus-bg: transparent;

  --color-modal-fg: var(--color-main-fg);
  --color-modal-mg: var(--color-gray-lighten-60);
  --color-modal-bg: var(--color-gray-lighten-100);
  --color-modal-inner-border: var(--color-gray-lighten-50);
  --color-modal-separator: var(--color-gray-lighten-55);
  --color-modal-shadow: rgba(24, 24, 28, 0.2); /* 20% gray-darken-30 */
  --color-modal-overlay: rgba(24, 24, 28, 0.5); /* 50% gray-darken-30 */
  --color-modal-border: transparent;
  --color-modal-subtle-fg: var(--color-main-subtle-fg);
  --color-modal-subtle-fg-em: var(--color-gray-lighten-20);
  --color-modal-subtle-mg: var(--color-gray-lighten-55);
  --color-modal-subtle-bg: var(--color-gray-lighten-60);
  --color-modal-focus-fg: var(--color-main-fg);
  --color-modal-focus-bg: var(--color-gray-lighten-55);
  --color-modal-focus-subtle-fg: var(--color-gray-base);
  --color-modal-focus-subtle-bg: var(--color-gray-lighten-50);
  --color-modal-title-fg: var(--color-gray-lighten-20);
  --color-modal-title-bg: transparent;
  --color-modal-mark-fg: var(--color-blue-2);
  --color-modal-mark-bg: transparent;
  --color-modal-error-fg: var(--color-pink-1);

  /* Icons */
  --color-icon-type: var(--color-orange-1);
  --color-icon-data-constructor: var(--color-orange-1);
  --color-icon-test: var(--color-green-1);
  --color-icon-term: var(--color-purple-3);
  --color-icon-ability: var(--color-pink-1);
  --color-icon-ability-constructor: var(--color-pink-1);
  --color-icon-doc: var(--color-orange-2);
  --color-icon-patch: var(--color-blue-2);

  /* Buttons */
  --color-button-primary-fg: var(--color-gray-lighten-60);
  --color-button-primary-bg: var(--color-gray-darken-20);
  --color-button-primary-hover-fg: var(--color-gray-lighten-60);
  --color-button-primary-hover-bg: var(--color-brand-bright-red);

  --color-button-secondary-fg: var(--color-main-fg);
  --color-button-secondary-bg: var(--color-gray-lighten-50);
  --color-button-secondary-hover-fg: var(--color-main-fg);
  --color-button-secondary-hover-bg: var(--color-gray-lighten-40);

  /* Tooltips */
  --color-tooltip-fg: var(--color-gray-lighten-60);
  --color-tooltip-bg: var(--color-gray-darken-30);

  /* Syntax */
  --color-syntax-base: var(--color-main-fg);
  --color-syntax-subtle: var(--color-main-subtle-fg);
  --color-syntax-keyword: #225ebe;
  --color-syntax-operator: #c7474e;
  --color-syntax-name: #6848ba;
  --color-syntax-type: #225ebe;
  --color-syntax-variant: #438443;
  --color-syntax-text: #438443;

  --color-syntax-monochrome-subtle: var(--color-main-subtle-fg);
  --color-syntax-monochrome-base: var(--color-gray-base);
  --color-syntax-monochrome-em: var(--color-main-fg);

  --color-syntax-plain: var(--color-main-fg);
}

/* -- Animations ----------------------------------------------------------- */

:root {
  --anim-elastic: cubic-bezier(0.68, -0.4, 0.32, 1.4);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* scale3D instead of scale forces the animation onto the GPU, avoiding jank */
@keyframes pulse-grow {
  0% {
    transform: scale3D(1, 1, 1);
  }
  50% {
    transform: scale3D(1.25, 1.25, 1.25);
  }
  100% {
    transform: scale3D(1, 1, 1);
  }
}

/* -- Global --------------------------------------------------------------- */

html {
  font-size: var(--size-base);
  font-family: var(--font-sans-serif);
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--color-main-fg);
}

a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  border-radius: 0;
  font-family: var(--font-sans-serif);
  caret-color: var(--color-main-focus-fg);
}

::placeholder {
  color: var(--color-main-subtle-fg);
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-base);
}

h3 {
  font-size: var(--font-size-medium);
}

/* -- Syntax --------------------------------------------------------------- */

pre {
  margin: 0;
}

code {
  display: inline-block;
  font-family: var(--font-monospace);
  line-height: 1.6;
}

code a {
  display: inline-block;
  padding: 0 0.375rem;
  margin: 0 -0.25rem;
  border-radius: var(--border-radius-base);
  line-height: 1.4;
  will-change: transform;
}

code a:hover {
  background: var(--color-gray-lighten-50);
  text-decoration: none;
}

code a:active {
  transform: translate(0, 0.1rem);
}

.rich .text-literal,
.rich .bytes-literal,
.rich .char-literal {
  color: var(--color-syntax-text);
}

.rich .boolean-literal,
.rich .constructor {
  color: var(--color-syntax-variant);
}

.rich .blank,
.rich .var,
.rich .data-type-params {
  color: var(--color-syntax-base);
}

.rich .numberic-literal,
.rich .term-reference,
.rich .type-reference,
.rich .data-type-modifier,
.rich .hash-qualifier,
.rich .request {
  color: var(--color-syntax-name);
}

.rich .op.cons,
.rich .op.snoc,
.rich .op.concat,
.rich .type-operator,
.rich .type-ascription-colon {
  color: var(--color-syntax-operator);
}

.rich .delay-force-char {
  color: var(--color-syntax-operator);
  font-weight: bold;
}

.rich .control-keyword,
.rich .data-type-keyword,
.rich .link-keyword,
.rich .doc-keyword {
  color: var(--color-syntax-keyword);
}

.rich .comment,
.rich .ability-braces,
.rich .binding-equals,
.rich .unit,
.rich .use-keyword,
.rich .use-prefix,
.rich .use-suffix,
.rich .delimeter-char,
.rich .parenthesis,
.rich .doc-delimeter {
  color: var(--color-syntax-subtle);
}

.monochrome .text-literal,
.monochrome .bytes-literal,
.monochrome .char-literal,
.monochrome .blank,
.monochrome .var,
.monochrome .data-type-params {
  color: var(--color-syntax-monochrome-base);
}

.monochrome .type-reference,
.monochrome .boolean-literal,
.monochrome .constructor,
.monochrome .numberic-literal,
.monochrome .term-reference,
.monochrome .data-type-modifier,
.monochrome .hash-qualifier,
.monochrome .request {
  color: var(--color-syntax-monochrome-em);
}

.monochrome .delay-force-char {
  color: var(--color-syntax-monochrome-em);
  font-weight: bold;
}

.monochrome .op.cons,
.monochrome .op.snoc,
.monochrome .op.concat,
.monochrome .type-operator,
.monochrome .type-ascription-colon,
.monochrome .control-keyword,
.monochrome .data-type-keyword,
.monochrome .link-keyword,
.monochrome .doc-keyword,
.monochrome .comment,
.monochrome .ability-braces,
.monochrome .binding-equals,
.monochrome .unit,
.monochrome .use-keyword,
.monochrome .use-prefix,
.monochrome .use-suffix,
.monochrome .delimeter-char,
.monochrome .parenthesis,
.monochrome .doc-delimeter {
  color: var(--color-syntax-monochrome-subtle);
}

.plain .text-literal,
.plain .bytes-literal,
.plain .char-literal,
.plain .boolean-literal,
.plain .constructor,
.plain .blank,
.plain .var,
.plain .data-type-params,
.plain .numberic-literal,
.plain .term-reference,
.plain .data-type-modifier,
.plain .hash-qualifier,
.plain .request,
.plain .type-reference,
.plain .op.cons,
.plain .op.snoc,
.plain .op.concat,
.plain .type-operator,
.plain .type-ascription-colon,
.plain .delay-force-char,
.plain .control-keyword,
.plain .data-type-keyword,
.plain .link-keyword,
.plain .doc-keyword,
.plain .comment,
.plain .ability-braces,
.plain .binding-equals,
.plain .unit,
.plain .use-keyword,
.plain .use-prefix,
.plain .use-suffix,
.plain .delimeter-char,
.plain .parenthesis,
.plain .doc-delimeter {
  color: var(--color-syntax-plain);
}

/* -- UI ------------------------------------------------------------------- */

.error-message {
  color: var(--color-pink-1);
}

.subtle {
  color: var(--color-main-subtle-fg);
}

/* Loading placeholders */

.loading-placeholder {
  display: inline-block;
  height: calc(var(--font-size-base) * 0.65);
  border-radius: calc(var(--font-size-base) / 2);
  background: var(--main-subtle-fg);
  min-width: calc(var(--font-size-base) * 3);
}

.loading-placeholder-row {
  margin-bottom: 0.5rem;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-overlay);
  display: flex;
  flex: 1;
  flex-shrink: 3;
  justify-content: center;
  animation: fade-in 0.2s ease-out;
  z-index: (--layer-modal-overlay);
}

.modal {
  position: relative;
  background: var(--color-modal-bg);
  border-radius: var(--border-radius-base);
  width: auto;
  margin-top: 4rem;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  animation: slide-up 0.2s var(--anim-elastic);
  box-shadow: 0 0.375rem 1rem var(--color-modal-shadow),
    0 0 0 1px var(--color-modal-border);
  z-index: (--layer-modal);
  font-size: var(--font-size-medium);
}

.modal-header {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  color: var(--color-modal-title-bg);
}

.modal-header + .modal-content {
  padding-top: 0.5rem;
}

.modal-header h2 {
  font-size: var(--font-size-base);
  height: 1.5rem;
  color: var(--color-modal-title-fg);
}

.modal-header .close-modal {
  width: 1.5rem;
  height: 1.5rem;
  font-size: var(--font-size-medium);
  justify-self: right;
  margin-top: -0.5rem;
  margin-right: -1rem;
  margin-left: auto;
}

.modal-header .close-modal .icon {
  color: var(--color-modal-subtle-fg);
}
.modal-header .close-modal:hover .icon {
  color: var(--color-modal-fg);
}

.modal-content {
  padding: 1.5rem;
}

.modal:focus {
  outline: none;
}

.badge {
  color: var(--color-gray-base);
  background: var(--color-gray-lighten-60);
  border: 1px solid var(--color-gray-lighten-50);
  font-size: 0.75rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-base);
}

/* Buttons */

button {
  border: 0;
  border-radius: var(--border-radius-base);
  font-weight: bold;
  font-size: 1rem;
  height: 2rem;
  padding: 0 0.75rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

button:focus {
  outline: none;
  will-change: transform;
}

button:active {
  transform: translate(0, 0.1rem);
}

button.primary {
  color: var(--color-button-primary-fg);
  background: var(--color-button-primary-bg);
}

button.primary:hover {
  color: var(--color-button-primary-hover-fg);
  background: var(--color-button-primary-hover-bg);
}

button.secondary {
  color: var(--color-button-secondary-fg);
  background: var(--color-button-secondary-bg);
}

button.secondary:hover {
  color: var(--color-button-secondary-hover-fg);
  background: var(--color-button-secondary-hover-bg);
}

/* Icons */

.icon {
  display: inline-block;
  font-size: 0.875rem;
  width: 1em;
  height: 1em;
  color: var(--color-main-fg);
  transition: all 0.2s;
}

.icon.type,
.icon.data-constructor {
  color: var(--color-icon-type);
}

.icon.test {
  color: var(--color-icon-test);
}

.icon.term {
  color: var(--color-icon-term);
}

.icon.ability,
.icon.ability-constructor {
  color: var(--color-icon-ability);
}

.icon.doc {
  color: var(--color-icon-doc);
}

.icon.patch {
  color: var(--color-icon-patch);
}

.icon.animate.search .search-shine,
.icon.animate.search .search-shine-trail-1,
.icon.animate.search .search-shine-trail-2,
.icon.animate.search .search-shine-trail-3 {
  animation: spin 2s var(--anim-elastic) infinite;
  transform-origin: 6px 6px;
  will-change: transform;
}

.icon.animate.search .search-shine {
  fill: var(--color-icon-1, currentColor);
  animation-delay: var(--icon-animation-delay, 0s);
}

.icon.animate.search .search-shine-trail-1 {
  fill: var(--color-icon-2, transparent);
  animation-delay: calc(0.1s + var(--icon-animation-delay, 0s));
  transition-delay: var(--icon-transition-delay, 0s);
}

.icon.animate.search .search-shine-trail-2 {
  fill: var(--color-icon-3, transparent);
  animation-delay: calc(0.2s + var(--icon-animation-delay, 0s));
  transition-delay: var(--icon-transition-delay, 0s);
}

.icon.animate.search .search-shine-trail-3 {
  fill: var(--color-icon-4, transparent);
  animation-delay: calc(0.3s + var(--icon-animation-delay, 0s));
  transition-delay: var(--icon-transition-delay, 0s);
}

/* Tooltips */

.tooltip {
  position: absolute;
  top: 1.75rem;
  left: -0.8rem;
  font-size: var(--font-size-medium);
  color: var(--color-tooltip-fg);
  background: var(--color-tooltip-bg);
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-base);
  opacity: 0;
  pointer-events: none;
}

.tooltip:after {
  bottom: 100%;
  left: 1rem;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000000;
  border-width: 0.375rem;
  margin-left: -0.375rem;
}

.with-tooltip {
  display: inline-block;
  position: relative;
}

.with-tooltip:hover .tooltip {
  animation: fade-in 0.2s;
  opacity: 1;
}

/* Keyboard shortcuts */

.keyboard-shortcuts {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-left: auto;
}

.keyboard-shortcuts .separator {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.875rem;
  color: var(--color-keyboard-shortcut-separator);
  align-items: center;
  margin: 0 0.4rem;
  line-height: 1;
}

.keyboard-shortcut {
  display: flex;
  flex-direction: row;
  /* gap: 0.25rem; */
}
.keyboard-shortcut .key {
  margin-right: 0.25rem;
}
.keyboard-shortcut:last-child .key {
  margin-right: 0;
}

.keyboard-shortcut .key:last-child {
  margin-right: 0;
}

.keyboard-shortcut .key {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.75rem;
  padding: 0.375rem;
  border-radius: var(--border-radius-base);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--color-keyboard-shortcut-key-fg);
  background: var(--color-keyboard-shortcut-key-bg);
}

.keyboard-shortcut .then {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.625rem;
  line-heigth: 1;
  margin: 0 0.35rem;
  color: var(--color-keyboard-shortcut-then);
  align-items: center;
}

/* -- Application ---------------------------------------------------------- */

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

/* -- Main Sidebar --------------------------------------------------------- */

#main-sidebar {
  width: var(--main-sidebar-width);
  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-fg);
  border-right: 1px solid var(--color-sidebar-border);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
  overflow: auto;
  height: 100vh;
  padding: 1rem 1rem 1rem 1.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-sidebar-subtle-fg) var(--color-sidebar-bg);
}

#main-sidebar::-webkit-scrollbar {
  width: 0.4rem;
}
#main-sidebar::-webkit-scrollbar-track {
  background: var(--color-sidebar-bg);
}
#main-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-subtle-fg);
  border-radius: 0.2rem;
}

#main-sidebar .loading-placeholder {
  background: var(--color-sidebar-subtle-fg);
  opacity: 0.5;
}

#main-sidebar header {
  margin-bottom: 2.5rem;
}

#main-sidebar .app-context {
  font-size: var(--font-size-base);
  height: 1.5rem;
  display: flex;
  align-items: center;
}

#main-sidebar .app-context .logo-mark {
  display: flex;
  height: 1.3rem;
  width: 1.3rem;
  align-items: center;
  justify-content: center;
  margin-right: 0.125rem;
}

#main-sidebar .app-context .logo-mark .icon {
  font-size: 0.875rem;
  color: var(--color-sidebar-fg);
  margin-bottom: 2px;
}

#main-sidebar .app-context .unison-share {
  color: var(--color-sidebar-context-unison-share-fg);
}

#main-sidebar .app-context .ucm {
  color: var(--color-sidebar-context-ucm-fg);
}

#main-sidebar h2 {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--color-sidebar-subtle-fg);
  margin-bottom: 0.125rem;
}

/* -- Codebase Tree -------------------------------------------------------- */

.codebase-tree .namespace-tree {
  margin-left: -0.5rem;
}

.codebase-tree .namespace-tree .node {
  display: flex;
  user-select: none;
  align-items: center;
  border-radius: var(--border-radius-base);
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  height: 1.75rem;
}

.codebase-tree .error {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  color: var(--color-pink-3);
}

.codebase-tree .error .icon {
  font-size: 1rem;
  margin-right: 0.25rem;
  color: var(--color-pink-1);
}

.codebase-tree .loading {
  padding-left: 0.5rem;
}

.codebase-tree .loading .loading-placeholder {
  width: 8rem;
}

.codebase-tree .namespace-content .loading {
  padding-left: 0.875rem;
}

.codebase-tree .namespace-content .loading .loading-placeholder {
  width: 6rem;
}

.codebase-tree .namespace-tree .node:hover {
  background: var(--color-sidebar-focus-bg);
  text-decoration: none;
}

.codebase-tree .namespace-tree .node .icon {
  font-size: 0.875rem;
  text-align: center;
  margin-right: 0.5rem;
  transition: transform 0.1s ease-out;
}

.codebase-tree .namespace-tree .node .icon.expanded {
  transform: rotate(90deg);
}

.codebase-tree .namespace-tree .node .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-subtle-fg);
}

.codebase-tree .namespace-tree .node:hover .icon:is(.caret-right, .caret-down) {
  color: var(--color-sidebar-focus-fg);
}

.codebase-tree .namespace-tree .node label {
  color: var(--color-sidebar-fg);
  transition: all 0.2s;
  cursor: pointer;
}

.codebase-tree .namespace-tree .node .definition-category {
  font-family: var(--font-monospace);
  color: var(--color-sidebar-subtle-fg);
  margin-left: 0.375rem;
  font-size: 0.75rem;
}

.codebase-tree .namespace-tree .node:hover label {
  color: var(--color-sidebar-focus-fg);
}

.codebase-tree .namespace-tree .node.open label {
  font-weight: bold;
}

.codebase-tree .namespace-tree .namespace-content {
  margin-left: 1rem;
  transform-origin: left top;
  animation: slide-down 0.2s ease-out;
}

/* -- Main Sidebar Nav ----------------------------------------------------- */

#main-sidebar nav {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin-top: auto;
  padding-top: 2rem;
}

#main-sidebar nav a {
  height: 1.5rem;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  padding-left: 0.5rem;
  margin-left: -0.5rem;
  border-radius: var(--border-radius-base);
}

#main-sidebar nav a,
#main-sidebar nav .icon {
  color: var(--color-sidebar-subtle-fg);
}

#main-sidebar nav a:hover,
#main-sidebar nav a:hover .icon {
  color: var(--color-sidebar-fg);
  text-decoration: none;
}

#main-sidebar nav .show-help {
  margin-top: 2rem;
  padding-right: 0.25rem;
  line-height: 1;
  display: flex;
  height: 2rem;
  align-items: center;
  font-weight: bold;
  color: var(--color-sidebar-fg);
  cursor: help;
}

#main-sidebar nav .show-help .keyboard-shortcut {
  justify-self: flex-end;
  margin-left: auto;
}

#main-sidebar .keyboard-shortcut .key {
  color: var(--color-sidebar-keyboard-shortcut-key-fg);
  background: var(--color-sidebar-keyboard-shortcut-key-bg);
  font-weight: normal;
}

#main-sidebar nav .show-help:hover {
  background: var(--color-sidebar-focus-bg);
}

/* -- Workspace ------------------------------------------------------------ */

#workspace {
  background: var(--color-workspace-bg);
  color: var(--color-workspace-fg);
  flex-grow: 1;
}

#workspace-toolbar {
  height: 3.5rem;
  padding: 0.75rem 1rem;
  font-size: var(--font-size-medium);
  background: var(--color-workspace-item-bg);
  border-bottom: 1px solid var(--color-workspace-border);
}

#workspace-content {
  overflow: auto;
  height: calc(100vh - 3.5rem);
  padding-top: 2rem;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--color-workspace-item-subtle-fg)
    var(--color-workspace-item-bg);
  box-shadow: inset 2rem 0 0 var(--color-workspace-subtle-bg);
}

#workspace-content::-webkit-scrollbar {
  width: 0.5rem;
}

#workspace-content::-webkit-scrollbar-track {
  background: var(--color-workspace-item-bg);
}

#workspace-content::-webkit-scrollbar-thumb {
  background-color: var(--color-workspace-item-subtle-fg);
  border-radius: var(--border-radius-base);
}

/* -- Definitions ---------------------------------------------------------- */

.definition-row {
  position: relative;
  color: var(--color-workspace-item-fg);
  background: var(--color-workspace-item-bg);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-workspace-item-border);
  margin-bottom: 1.5rem;
}

.definition-row .inner-row {
  display: flex;
  flex-direction: row;
}

.definition-row .icon.caret-right {
  color: var(--color-workspace-item-subtle-fg);
  transition: color 0.2s, transform 0.1s ease-out;
}

.definition-row .gutter {
  display: flex;
  justify-content: center;
  width: 2rem;
  margin-right: 0.375rem;
  color: var(--color-workspace-item-subtle-fg);
}

.definition-row .loading-placeholder {
  background: var(--color-workspace-item-subtle-fg);
}

.definition-row header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  height: 1rem;
  margin-bottom: 1.5rem;
}

.definition-row .close {
  width: 2rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.definition-row .close .icon {
  color: var(--color-workspace-item-subtle-fg-em);
  font-size: 0.5rem;
  stroke-width: 2px;
}

.definition-row .close:hover .icon {
  color: var(--color-workspace-item-fg);
}

.definition-row header .names {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.definition-row header .names .icon {
  margin-right: 0.375rem;
}

.definition-row header .names .icon.caret-right {
  margin-right: 0.25rem;
}

.definition-row header .names:hover .icon {
  color: var(--color-workspace-item-focus-fg);
}

.definition-row header .names .name {
  color: var(--color-workspace-item-fg);
  font-size: var(--font-size-base);
  transition: color 0.2s;
  font-weight: bold;
}

.definition-row header .names .separator {
  color: var(--color-workspace-item-subtle-fg);
  margin: 0 0.375rem;
  cursor: default;
}

.definition-row header .names .info {
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-bottom: 0.1rem;
}

.definition-row header .names .namespace .in {
  color: var(--color-workspace-item-subtle-fg-em);
}

.definition-row header .names .other-names {
  height: 1rem;
  color: var(--color-workspace-item-subtle-fg-em);
  transition: color 0.2s;
  cursor: help;
}

.definition-row header .names .other-names:hover {
  color: var(--color-workspace-item-fg);
}

.definition-row header .error-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.definition-row header .error-header .icon {
  margin-right: 0.375rem;
}

.definition-row header .error-header .icon.caret-down {
  margin-right: 0.25rem;
  color: var(--color-workspace-item-subtle-fg);
}

.definition-row header .error-header .icon.warn {
  font-size: 1rem;
  color: var(--color-pink-1);
}

.definition-row .content .gutter {
  margin-right: 1.5rem;
}

.definition-row .content .error {
  padding-left: 1.5rem;
  font-size: var(--font-size-medium);
}

.definition-row .content .definition-with-error {
  font-weight: bold;
}

.definition-row .content .docs {
  margin-bottom: 1.5rem;
}

.definition-row .content .built-in {
  margin-bottom: 1.5rem;
  /* TODO: Renable with source toggle */
  /*margin-left: 1.25rem;*/
}

.definition-row .content .source {
  display: flex;
  flex-direction: row;
  background: var(--color-workspace-item-mg);
}

.definition-row .content .source .source-toggle {
  height: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 0.375rem;
  padding-top: 0.1rem;
  /* TODO: Renable source toggle */
  display: none;
}

.definition-row .content .source .source-toggle .icon {
  color: var(--color-workspace-item-subtle-fg);
}

.definition-row .content .source .source-toggle.disabled {
  opacity: 0.5;
}

/* Definition Row: Loading */

.definition-row header .loading-placeholder {
  width: 10%;
}

.definition-row .content .loading-placeholder {
  display: block;
  width: 40%;
  margin-bottom: 0.3rem;
}

.definition-row .content code .loading-placeholder {
  display: block;
  width: 40%;
}

/* Definition Row: Zoom level */
.definition-row.zoom-level-far .inner-row {
  margin-bottom: 0;
}

.definition-row.zoom-level-far .content {
  opacity: 0;
  height: 0;
}

.definition-row.zoom-level-medium .names .icon.caret-right {
  transform: rotate(90deg);
}

.definition-row.zoom-level-medium .source-detail {
  opacity: 0;
  height: 0;
}

.definition-row.zoom-level-near .source .icon.caret-right {
  transform: rotate(90deg);
}

/* Definition Row: Focused */

.definition-row.focused {
  background: var(--color-workspace-item-focus-bg);
}

.definition-row.focused:before {
  position: absolute;
  top: 0;
  left: 2rem;
  bottom: 0;
  content: "";
  background: var(--color-workspace-item-focus-fg);
  width: 0.15rem;
  transform: translateX(-50%);
}

.definition-row.focused .content code {
  background: var(--color-workspace-item-focus-mg);
}

.definition-row.focused header .name,
.definition-row.focused header .error-header {
  color: var(--color-workspace-item-focus-fg);
}

/* -- HelpModal ------------------------------------------------------------ */

#help-modal .shortcuts {
  display: flex;
  flex-direction: row;
  /* 
  Alas - Safari does not support gap and we have to use margins 
  It was added in Safari 14.1 that was since pulled for unrelated reasons

  gap: 2.625rem; 
  */
}

#help-modal .shortcuts .shortcut-group {
  width: 20rem;
  display: flex;
  flex-direction: column;
  /*
  Alas - Safari does not support gap and we have to use margins 
  It was added in Safari 14.1 that was since pulled for unrelated reasons

  gap: 0.75rem;
  */
  margin-right: 2.625rem;
}

#help-modal .shortcuts .shortcut-group:last-child {
  margin-right: 0;
}

#help-modal .shortcuts h3 {
  height: 1.5rem;
  display: flex;
  align-items: center;
}

#help-modal .shortcuts .row {
  display: flex;
  height: 1.5rem;
  align-items: center;
  margin-bottom: 0.75rem;
}
#help-modal .shortcuts .row:last-child {
  margin-bottom: 0;
}

#help-modal .shortcuts .instructions {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-left: auto;
}

#help-modal .subtle {
  color: var(--color-modal-subtle-fg);
}

/* -- Finder --------------------------------------------------------------- */

#finder {
  width: 50rem;
}

#finder:focus {
  outline: none;
}

#finder header {
  background: var(--color-modal-mg);
  display: flex;
  align-items: center;
  position: relative;
}

#finder header .icon.search {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-modal-subtle-fg);
  transition: color 0.5s;
  transition-delay: 0.4s;

  /* shine trails */
  --color-icon-2: var(--color-pink-1);
  --color-icon-3: var(--color-orange-2);
  --color-icon-4: var(--color-blue-2);
  --icon-animation-delay: 0.5s;
  --icon-transition-delay: 0.3s;
}

#finder .is-searching .icon.search {
  color: var(--color-modal-fg);
}

#finder input {
  height: 2rem;
  background: transparent;
  width: 100%;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}

#finder input::placeholder {
  font-weight: normal;
}

#finder input:focus {
  outline: none;
}

#finder .reset {
  height: 3rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

#finder .reset .icon {
  color: var(--color-modal-subtle-fg);
}

#finder .reset:hover .icon {
  color: var(--color-modal-fg);
}

#finder .empty-state {
  position: relative;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid var(--color-modal-inner-border);
  color: var(--color-modal-subtle-fg);
}

#finder .error {
  position: relative;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid var(--color-modal-inner-border);
  color: var(--color-modal-fg);
}

#finder .error p {
  margin-bottom: 0.25rem;
}

#finder .error h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#finder .error .icon {
  font-size: 1.3rem;
  margin-bottom: 0.15rem;
  margin-right: 0.25rem;
  color: var(--color-modal-error-fg);
}

/* results */

#finder .results {
  position: relative;
  padding: 0.75rem;
  border-top: 1px solid var(--color-modal-inner-border);
}

#finder .results:after,
#finder .empty-state:after,
#finder .error:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-bg);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  transition-delay: 0.3s;
}

#finder .is-searching .results:after,
#finder .is-searching .empty-state:after,
#finder .is-searching .error:after {
  opacity: 0.65;
  pointer-events: auto;
}

#finder .results table {
  width: 100%;
}

#finder .results table td {
  height: 4rem;
  vertical-align: top;
  padding: 0.75rem;
}

#finder .definition-match {
  position: relative;
  z-index: var(--layer-modal-above);
  padding: 1rem 0.75rem;
  cursor: pointer;
}

#finder .definition-match td:first-child {
  border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
}

#finder .definition-match td:last-child {
  border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
}

#finder .definition-match mark {
  color: var(--color-modal-mark-fg);
  background: var(--color-modal-mark-bg);
}

#finder .definition-match .category {
  width: 0.875rem;
  padding: 0.75rem 0 0 0.75rem;
}

#finder .definition-match .category .icon {
  margin-top: 0.2rem;
}

#finder .definition-match .naming {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-left: 0.5rem;
}

#finder .definition-match .name {
  font-weight: bold;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  max-width: 14rem;
  overflow: hidden;
}

#finder .definition-match .namespace {
  font-size: 0.625rem;
  margin-top: 0.25rem;
  text-overflow: ellipsis;
  max-width: 14rem;
  overflow: hidden;
}

#finder .definition-match .namespace .in {
  color: var(--color-modal-subtle-fg-em);
  margin-right: 0.25rem;
}

#finder .definition-match .source {
  border-left: 1px solid var(--color-modal-separator);
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.9rem 0.75rem;
  position: relative;
}

#finder .definition-match .source code {
  line-height: inherit;
}

#finder .definition-match .source pre {
  font-size: 0.75rem;
}

#finder .definition-match .shortcut {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 100%;
}

#finder .definition-match .keyboard-shortcut {
  margin-left: auto;
  font-size: 0.75rem;
  align-self: center;
}

#finder .definition-match .keyboard-shortcut .key {
  color: var(--color-modal-subtle-fg-em);
  background: var(--color-modal-subtle-bg);
}

#finder .definition-match .keyboard-shortcut .key.active {
  color: var(--color-modal-focus-subtle-fg);
  background: var(--color-modal-focus-subtle-bg);
}

#finder .definition-match .keyboard-shortcut .then {
  color: var(--color-modal-subtle-fg);
}

/* focused */

#finder .definition-match.focused td {
  background: var(--color-modal-focus-bg);
}

#finder .definition-match.focused .source {
  border-color: var(--color-modal-focus-bg);
}

#finder .definition-match.focused .keyboard-shortcut .key {
  color: var(--color-modal-focus-subtle-fg);
  background: var(--color-modal-focus-subtle-bg);
}

/* hover */

#finder .definition-match:not(.focused):hover td {
  background: var(--color-modal-mg);
}

#finder .definition-match:not(.focused):hover .keyboard-shortcut .key {
  background: var(--color-modal-subtle-mg);
}
