:root {
  --size-base: 16px;
  --main-sidebar-width: 17rem;
  --border-radius-base: 0.25rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter var", sans-serif;
  --font-monospace: "Fira Code var", monospace;

  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
}

@import "./themes/unison/light.css";
@import "./base.css";
@import "./syntax.css";
@import "./animations.css";
@import "./elements.css";
@import "./composites.css";
@import "./app.css";
