.page {
  display: grid;
  grid-template-rows: var(--app-header-height) auto;
  grid-template-columns: var(--main-sidebar-width) auto;
  grid-template-areas:
    "app-header app-header"
    "main-sidebar page-content";
  transition: grid-template-columns var(--transition-sidebar-collapse-time);
  --transition-sidebar-collapse-time: 0.3s;
}

/* -- Main Content --------------------------------------------------------- */

.page-content {
  grid-area: page-content;
  height: calc(100vh - var(--app-header-height));
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--color-main-subtle-fg) var(--color-main-bg);
}
.page-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.page-content::-webkit-scrollbar-track {
  background: var(--color-main-bg);
}

.page-content::-webkit-scrollbar-thumb {
  background-color: var(--color-main-subtle-fg);
  border-radius: var(--border-radius-base);
}
