#publish-modal {
  width: 32.5rem;
}

#publish-modal .main {
  font-size: var(--font-size-medium);
}

#publish-modal .help {
  display: inline-block;
  margin-top: 1rem;
  font-size: var(--font-size-small);
  color: var(--color-modal-subtle-fg-em);
  text-decoration: underline;
}

#publish-modal .help:hover {
  color: var(--color-modal-fg);
}
