#report-bug-modal {
  width: 32.5rem;
}

#report-bug-modal .actions .button {
  margin-right: 0.5rem;
}

#report-bug-modal .actions .action {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#report-bug-modal .actions .action strong {
  margin: 0 0.25rem;
}

#report-bug-modal .actions .action:last-child {
  margin-bottom: 0;
}
