pre {
  margin: 0;
}

pre.inline-code {
  display: inline-block;
}

code {
  display: inline-block;
  font-family: var(--font-monospace);
  line-height: 1.6;
}

pre.inline-code code {
  line-height: 1.4;
}

code a {
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  border-radius: var(--border-radius-base);
  line-height: 1.4;
  will-change: transform;
}

code a:hover {
  background: var(--color-gray-lighten-50);
  text-decoration: none;
}

code a:active {
  transform: translate(0, 0.1rem);
}

.rich .fqn .sep {
  color: var(--color-syntax-subtle-em);
}
.rich .text-literal,
.rich .bytes-literal,
.rich .char-literal {
  color: var(--color-syntax-text);
}

.rich .boolean-literal,
.rich .constructor {
  color: var(--color-syntax-constructor);
}

.rich .constructor .segment {
  color: var(--color-syntax-constructor-namespace);
}

.rich .constructor .segment:last-child {
  color: var(--color-syntax-constructor);
}

.rich .var,
.rich .data-type-params {
  color: var(--color-syntax-base);
}

.rich .numeric-literal,
.rich .type-reference,
.rich .data-type-modifier {
  color: var(--color-syntax-type);
}

.rich .type-reference .fqn .segment {
  color: var(--color-syntax-type-namespace);
}

.rich .type-reference .fqn .segment:last-child {
  color: var(--color-syntax-type);
}

.rich .term-reference,
.rich .request,
.rich .hash-qualifier {
  color: var(--color-syntax-term);
}

.rich .term-reference .fqn .segment,
.rich .hash-qualifier .fqn .segment {
  color: var(--color-syntax-term-namespace);
}

.rich .term-reference .fqn .segment:last-child,
.rich .hash-qualifier .fqn .segment:last-child {
  color: var(--color-syntax-term);
}

.rich .op.cons,
.rich .op.snoc,
.rich .op.concat,
.rich .type-operator,
.rich .binding-equals,
.rich .type-ascription-colon {
  color: var(--color-syntax-operator);
}

.rich .delay-force-char {
  color: var(--color-syntax-ability);
  font-weight: bold;
}

.rich .control-keyword,
.rich .data-type-keyword,
.rich .link-keyword,
.rich .doc-keyword {
  color: var(--color-syntax-keyword);
}

.rich .delimeter-char {
  color: var(--color-syntax-subtle-em);
}

.rich .comment,
.rich .ability-braces,
.rich .unit,
.rich .use-keyword,
.rich .use-prefix,
.rich .use-suffix,
.rich .blank,
.rich .parenthesis,
.rich .arrow,
.rich .doc-delimeter {
  color: var(--color-syntax-subtle);
}

.monochrome .text-literal,
.monochrome .bytes-literal,
.monochrome .char-literal,
.monochrome .blank,
.monochrome .var,
.monochrome .data-type-params {
  color: var(--color-syntax-monochrome-base);
}

.monochrome .type-reference,
.monochrome .boolean-literal,
.monochrome .constructor,
.monochrome .numeric-literal,
.monochrome .term-reference,
.monochrome .data-type-modifier,
.monochrome .hash-qualifier,
.monochrome .request {
  color: var(--color-syntax-monochrome-em);
}

.monochrome .delay-force-char {
  color: var(--color-syntax-monochrome-em);
  font-weight: bold;
}

.monochrome .op.cons,
.monochrome .op.snoc,
.monochrome .op.concat,
.monochrome .type-operator,
.monochrome .type-ascription-colon,
.monochrome .control-keyword,
.monochrome .data-type-keyword,
.monochrome .link-keyword,
.monochrome .doc-keyword,
.monochrome .comment,
.monochrome .ability-braces,
.monochrome .binding-equals,
.monochrome .unit,
.monochrome .use-keyword,
.monochrome .use-prefix,
.monochrome .use-suffix,
.monochrome .delimeter-char,
.monochrome .parenthesis,
.monochrome .doc-delimeter {
  color: var(--color-syntax-monochrome-subtle);
}

.plain .text-literal,
.plain .bytes-literal,
.plain .char-literal,
.plain .boolean-literal,
.plain .constructor,
.plain .blank,
.plain .var,
.plain .data-type-params,
.plain .numeric-literal,
.plain .term-reference,
.plain .data-type-modifier,
.plain .hash-qualifier,
.plain .request,
.plain .type-reference,
.plain .op.cons,
.plain .op.snoc,
.plain .op.concat,
.plain .type-operator,
.plain .type-ascription-colon,
.plain .delay-force-char,
.plain .control-keyword,
.plain .data-type-keyword,
.plain .link-keyword,
.plain .doc-keyword,
.plain .comment,
.plain .ability-braces,
.plain .binding-equals,
.plain .unit,
.plain .use-keyword,
.plain .use-prefix,
.plain .use-suffix,
.plain .delimeter-char,
.plain .parenthesis,
.plain .doc-delimeter {
  color: var(--color-syntax-plain);
}
