:root {
  --size-base: 16px;
  --app-header-height: 3.5rem;
  --page-hero-height: 16rem;
  --main-sidebar-width: 17rem;
  --main-sidebar-collapsed-width: 4.5rem;
  --main-content-width: 45.5rem;
  --border-radius-base: 0.25rem;
  --toolbar-height: 3.5rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-beneath: 0;
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter var", sans-serif;
  --font-monospace: "Fira Code var", monospace;

  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
}

@import "./ui/fonts.css";
@import "./ui/base.css";
@import "./ui/animations.css";
@import "./ui/elements.css";
@import "./ui/composites.css";
@import "./ui/page-layout.css";
