/* -- Workspace ------------------------------------------------------------ */

#workspace {
  display: flex;
  flex-direction: column;
  background: var(--color-workspace-bg);
  color: var(--color-workspace-fg);

  --workspace-toolbar-height: 3.5rem;
  --workspace-content-width: var(--main-content-width);
}

#workspace-toolbar {
  height: var(--workspace-toolbar-height);
  padding: 0.75rem 1rem;
  font-size: var(--font-size-medium);
  background: var(--color-workspace-item-bg);
  border-bottom: 1px solid var(--color-workspace-border);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#workspace-toolbar .right {
  margin-left: auto;
}

#workspace-content {
  overflow: auto;
  height: calc(
    calc(100vh - var(--workspace-toolbar-height)) - var(--app-header-height)
  );
  padding-top: 2rem;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--color-workspace-item-subtle-fg)
    var(--color-workspace-item-bg);
  /* gutter */
  box-shadow: inset 2rem 0 0 var(--color-workspace-subtle-bg);
}

#workspace-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#workspace-content::-webkit-scrollbar-track {
  background: var(--color-workspace-item-bg);
}

#workspace-content::-webkit-scrollbar-thumb {
  background-color: var(--color-workspace-item-subtle-fg);
  border-radius: var(--border-radius-base);
}

@media only screen and (max-width: 1024px) {
  #workspace-content {
    box-shadow: none;
    height: auto;
    width: auto;
  }
}

@import "./workspace-item.css";
