/* -- WorkspaceItem -------------------------------------------------------- */

.workspace-item {
  position: relative;
  color: var(--color-workspace-item-fg);
  background: var(--color-workspace-item-bg);
  padding: 1rem 0;
  border-top: 1px solid var(--color-workspace-item-border);
  border-bottom: 1px solid var(--color-workspace-item-border);
  margin-bottom: 1.5rem;
  font-size: var(--font-size-medium);
  /* gutter */
  box-shadow: inset 2rem 0 0 var(--color-workspace-item-mg);
}

.workspace-item .inner-row {
  display: flex;
  flex-direction: row;
}

.workspace-item .content .inner-row {
  margin-bottom: 1.5rem;
}

.workspace-item .content .inner-row:last-child {
  margin-bottom: 0;
}

.workspace-item .gutter {
  display: flex;
  justify-content: center;
  width: 2rem;
  margin-right: 0.25rem;
  color: var(--color-workspace-item-subtle-fg);
}

.workspace-item header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  height: 1rem;
  margin-bottom: 1.5rem;
}

.workspace-item .actions {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  height: 1.25rem;
  background: var(--color-workspace-item-bg-em);
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: row;
  z-index: var(--layer-popover);
  opacity: 0;
  transition: opacity 0.2s;
}

.workspace-item:hover .actions {
  opacity: 1;
}

.workspace-item .actions .close {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.workspace-item .actions .close .icon {
  color: var(--color-workspace-item-subtle-fg);
  font-size: 0.75rem;
}

.workspace-item .actions .close:hover .icon {
  color: var(--color-workspace-item-fg);
}

.workspace-item header .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5rem;
}

.workspace-item header .fold-toggle {
  margin: 0;
}

.workspace-item header .category-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1.5rem;
  line-height: 1;
}

.workspace-item header .info .name {
  color: var(--color-workspace-item-fg);
  font-size: var(--font-size-base);
  transition: color 0.2s;
  font-weight: bold;
}

.workspace-item header .info .info-items {
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: var(--color-workspace-item-info-item-fg);
  height: 1.5rem;
  margin-left: 0.25rem;
  margin-top: 1px;
}

.workspace-item header .info .info-items .info-item > .icon {
  color: var(--color-workspace-item-info-item-subtle-fg);
  font-size: var(--font-size-base);
  margin-right: 0.25rem;
}

.workspace-item header .info .info-items .info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 0.875rem;
  transition: 0.2s background;
  border-radius: var(--border-radius-base);
}
.workspace-item header .info .info-items .info-item > label {
  transition: 0.2s all;
}

.workspace-item header .info .info-items .info-item:hover,
.workspace-item header .info .info-items .tooltip:hover + .info-item {
  color: var(--color-workspace-item-info-item-hover-fg);
  background: var(--color-workspace-item-info-item-hover-bg);
}

.workspace-item header .info .info-items .info-item:hover > .icon,
.workspace-item header .info .info-items .tooltip:hover + .info-item > .icon {
  color: var(--color-workspace-item-info-item-hover-sublte-fg);
}

.workspace-item header .info .info-items .tooltip {
  margin-left: -0.2rem;
}

.workspace-item header .error-header {
  flex-direction: row;
  align-items: center;
}

.workspace-item header .error-header .icon {
  margin-right: 0.375rem;
}

.workspace-item header .error-header .icon.caret-down {
  margin-right: 0.25rem;
  color: var(--color-workspace-item-subtle-fg);
}

.workspace-item header .error-header .icon.warn {
  font-size: 1rem;
  color: var(--color-pink-1);
}

.workspace-item .content .gutter {
  margin-right: 1.5rem;
}

.workspace-item .content .error {
  padding-left: 1.5rem;
  font-size: var(--font-size-medium);
}

.workspace-item .content .definition-with-error {
  font-weight: bold;
}

.workspace-item .content .workspace-item-definition-doc {
  width: var(--workspace-content-width);
}

.workspace-item
  .content
  .workspace-item-definition-doc
  .definition-doc-columns {
  position: relative;
  display: flex;
  flex-direction: row;
}

.workspace-item .content .workspace-item-definition-doc .icon-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.workspace-item .content .workspace-item-definition-doc .icon-column .icon.doc {
  color: var(--color-workspace-item-subtle-fg);
}

.workspace-item .content .workspace-item-definition-doc .doc-column {
  max-height: 12rem;
  overflow: hidden;
}

.workspace-item
  .content
  .workspace-item-definition-doc.shown-in-full
  .doc-column {
  overflow: visible;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.workspace-item .content .workspace-item-definition-doc .show-full-doc {
  position: relative;
  background: var(--color-workspace-item-bg);
  padding: 0 1.5rem;
}

/* overlapping gradient for the content to peek out behind, indicating more is
 * below the fold */
.workspace-item .content .workspace-item-definition-doc .show-full-doc:before {
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  content: "";
  margin: 0;
  height: 4.5rem;
  background: linear-gradient(
    0deg,
    var(--color-workspace-item-bg) 20%,
    var(--color-workspace-item-bg-faded) 80%,
    var(--color-transparent)
  );
}

.workspace-item .content .built-in {
  margin-left: 1.25rem;
}

.workspace-item .content .badge {
  background: var(--color-workspace-item-mg);
}

.workspace-item .content .definition-source {
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row;
  background: var(--color-workspace-item-source-bg);
  border-radius: var(--border-radius-base);
  width: var(--workspace-content-width);
  overflow: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--color-workspace-item-subtle-fg)
    var(--color-transparent);
}

.workspace-item .content .definition-source .fold-toggle {
  position: absolute;
  left: 0;
  top: 1px;
}

.workspace-item .content .definition-source::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.375rem;
}

.workspace-item .content .definition-source::-webkit-scrollbar-track {
  background: var(--color-transparent);
}

.workspace-item .content .definition-source::-webkit-scrollbar-thumb {
  background-color: var(--color-workspace-item-subtle-fg);
  border-radius: var(--border-radius-base);
}

/* Definition Row: Loading */

.workspace-item .loading-placeholder {
  background: var(--color-workspace-item-subtle-fg);
}

.workspace-item header .loading-placeholder {
  width: 10%;
}

.workspace-item .content .loading-placeholder {
  display: block;
  width: 40%;
  margin-bottom: 0.3rem;
}

.workspace-item .content code .loading-placeholder {
  display: block;
  width: 40%;
}

/* Definition Row: Zoom level */
.workspace-item.zoom-level-far .inner-row {
  margin-bottom: 0;
}

.workspace-item.zoom-level-far .content {
  opacity: 0;
  height: 0;
}

/* When .workspace-item is focused and has a
 * slightly darker background, we want to use focus colors */
.workspace-item.focused {
  --color-workspace-item-fg: var(--color-workspace-item-focus-fg);
  --color-workspace-item-bg: var(--color-workspace-item-focus-bg);
  --color-workspace-item-bg-faded: var(--color-workspace-item-focus-bg-faded);
  --color-workspace-item-subtle-fg: var(--color-workspace-item-focus-subtle-fg);
  --color-workspace-item-subtle-bg: var(--color-workspace-item-focus-subtle-bg);
  --color-workspace-item-content-border: var(
    --color-workspace-item-focus-content-border
  );
  --color-workspace-item-border: var(--color-workspace-item-focus-border);
  --color-workspace-item-mg: var(--color-workspace-item-focus-mg);
  --color-workspace-item-bg: var(--color-workspace-item-focus-bg);
  --color-workspace-item-bg-em: var(--color-workspace-item-focus-bg-em);
  --color-workspace-item-source-bg: var(--color-workspace-item-focus-source-bg);
}

.workspace-item.focused .actions {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .workspace-item {
    box-shadow: none;
    padding: 1rem;
  }

  .workspace-item .content,
  .workspace-item .content .workspace-item-definition-doc,
  .workspace-item .content .error {
    padding-left: 0;
    margin-left: 0;
    width: auto;
  }

  .workspace-item .gutter {
    display: none;
  }

  .workspace-item .content .definition-source {
    width: calc(100vw - 2rem);
    overflow: auto;
  }
}
