.badge {
  --color-badge-text: var(--u-color_text-on-element-emphasized);
  --color-badge-bg: var(--u-color_element_emphasized);
  --color-badge-border: var(--u-color_border);

  color: var(--color-badge-text);
  background: var(--color-badge-bg);
  border: 1px solid var(--color-badge-border);
  font-size: var(--font-size-small);
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-base);
}

.option-badge {
  /* @color-todo @inverse */
  --color-option-badge-text: var(--color-gray-lighten-40);
  --color-option-badge-subtle-text: var(--color-gray-lighten-20);
  --color-option-badge-icon: var(--color-gray-lighten-30);
  --color-option-badge-hover-icon: var(--color-gray-100);
  --color-option-badge-bg: var(--color-gray-darken-30);
  --color-option-badge-border: var(--color-transparent);

  padding: 0 0.75rem;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 1.5rem;
  border-radius: calc(1.5rem / 2);
  border: 1px solid var(--color-option-badge-border);
  background: var(--color-option-badge-bg);
  color: var(--color-option-badge-text);
  font-size: var(--font-size-small);
  cursor: pointer;
}

.option-badge .icon {
  font-size: 0.625rem;
  color: var(--color-option-badge-icon);
  margin-right: 0.375rem;
  line-height: 1;
}

.option-badge:hover .icon {
  color: var(--color-option-badge-hover-icon);
}

.option-badge .subtle {
  color: var(--color-option-badge-subtle-text);
}
