.button {
  --color-button-default-text: var(--u-color_text-on-action);
  --color-button-default-icon: var(--u-color_icon-on-action);
  --color-button-default-bg: var(--u-color_action);
  --color-button-default-hover-text: var(--u-color_text-on-action_hovered);
  --color-button-default-hover-icon: var(--u-color_text-on-action_hovered);
  --color-button-default-hover-bg: var(--u-color_action_hovered);

  --color-button-primary-text: var(--u-color_text-on-action-emphasized);
  --color-button-primary-icon: var(--u-color_icon-on-action-emphasized);
  --color-button-primary-bg: var(--u-color_action_emphasized);
  --color-button-primary-hover-text: var(
    -u-color_text-on-action-emphasized_hovered
  );
  --color-button-primary-hover-icon: var(
    -u-color_icon-on-action-emphasized_hovered
  );
  --color-button-primary-hover-bg: var(--u-color_action_emphasized_hovered);

  --color-button-danger-text: var(--u-color_critical_text-on-action);
  --color-button-danger-icon: var(--u-color_critical_icon-on-action);
  --color-button-danger-bg: var(--u-color_critical_action);
  --color-button-danger-hover-text: var(
    --u-color_critical_text-on-action_hovered
  );
  --color-button-danger-hover-icon: var(
    --u-color_critical_icon-on-action_hovered
  );
  --color-button-danger-hover-bg: var(--u-color_critical_action_hovered);

  /* @color-todo */
  /* @decorative */
  --color-button-decorative-blue-text: var(--color-gray-lighten-60);
  --color-button-decorative-blue-bg: var(--color-blue-2);
  --color-button-decorative-blue-hover-text: var(--color-gray-lighten-60);
  --color-button-decorative-blue-hover-bg: var(--color-blue-1);

  --color-button-share-text: var(--color-purple-1);
  --color-button-share-bg: var(--color-purple-4);
  --color-button-share-hover-text: var(--color-purple-2);
  --color-button-share-hover-bg: var(--color-purple-4);

  display: inline-flex;
  font-family: var(--font-sans-serif);
  border: 0;
  border-radius: var(--border-radius-base);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1em;
  cursor: pointer;
  transition: all 0.1s ease-in;
  justify-content: center;
  align-items: center;
}

a.button,
a.button:hover {
  text-decoration: none;
}

.button:focus {
  outline: none;
  will-change: transform;
}

.button:active {
  transform: translate(0, 0.1rem);
}

/* -- Sizes ---------------------------------------------------------------- */

.button.small {
  height: 1.5rem;
  font-size: var(--font-size-small);
}

.button.small:not(.content-icon) {
  padding: 0 0.5rem;
}

.button.small.content-icon-then-label .icon {
  margin-right: 0.25rem;
}
.button.small.content-icon {
  width: 1.5rem;
}

.button.medium {
  height: 2rem;
  font-size: var(--font-size-medium);
}

.button.medium:not(.content-icon) {
  padding: 0 0.75rem;
}

.button.medium.content-icon-then-label .icon {
  margin-right: 0.375rem;
}

.button.large {
  height: 2.5rem;
  font-size: 1.125rem;
}

.button.large:not(.content-icon) {
  padding: 0 1rem;
}

.button.large.content-icon-then-label .icon {
  margin-right: 0.5rem;
}

/* -- Contained & Colors --------------------------------------------------- */

.button.contained.default {
  color: var(--color-button-default-text);
  background: var(--color-button-default-bg);
}
.button.contained.default .icon {
  color: var(--color-button-default-icon);
}

.button.contained.default:hover {
  color: var(--color-button-default-hover-text);
  background: var(--color-button-default-hover-bg);
}

.button.contained.default:hover .icon {
  color: var(--color-button-default-hover-icon);
}

.button.contained.primary {
  color: var(--color-button-primary-text);
  background: var(--color-button-primary-bg);
}
.button.contained.primary .icon {
  color: var(--color-button-primary-icon);
}

.button.contained.primary:hover {
  color: var(--color-button-primary-hover-text);
  background: var(--color-button-primary-hover-bg);
}
.button.contained.primary:hover .icon {
  color: var(--color-button-primary-hover-icon);
}

.button.contained.danger {
  color: var(--color-button-danger-text);
  background: var(--color-button-danger-bg);
}

.button.contained.danger .icon {
  color: var(--color-button-danger-icon);
}

.button.contained.danger:hover {
  color: var(--color-button-danger-text);
  background: var(--color-button-danger-bg);
}
.button.contained.danger:hover .icon {
  color: var(--color-button-danger-icon);
}

.button.contained.share {
  color: var(--color-button-share-text);
  background: var(--color-button-share-bg);
}

.button.contained.share .icon {
  color: var(--color-button-share-text);
}

.button.contained.share:hover {
  color: var(--color-button-share-hover-text);
  background: var(--color-button-share-hover-bg);
}

.button.contained.share:hover .icon {
  color: var(--color-button-share-hover-text);
}

/* -- Uncontained & Colors ------------------------------------------------- */
.button.uncontained {
  background: var(--color-transparent);
}

.button.uncontained.default,
.button.uncontained.default .icon {
  color: var(--color-button-default-text);
}

.button.uncontained.default:hover {
  color: var(--color-button-default-hover-text);
  background: var(--color-button-default-hover-bg);
}

.button.uncontained.default:hover .icon {
  color: var(--color-button-default-hover-text);
}

.button.uncontained.primary-mono,
.button.uncontained.primary-mono .icon {
  color: var(--color-button-primary-mono-text);
}

.button.uncontained.primary-mono:hover {
  color: var(--color-button-primary-mono-hover-text);
  background: var(--color-button-primary-mono-hover-bg);
}

.button.uncontained.primary-mono:hover .icon {
  color: var(--color-button-primary-mono-hover-text);
}

.button.uncontained.primary,
.button.uncontained.primary .icon {
  color: var(--color-button-primary-text);
}

.button.uncontained.primary:hover {
  color: var(--color-button-primary-hover-text);
  background: var(--color-button-primary-hover-bg);
}
.button.uncontained.primary:hover .icon {
  color: var(--color-button-primary-hover-text);
}

.button.uncontained.share,
.button.uncontained.share .icon {
  color: var(--color-button-share-text);
}

.button.uncontained.share:hover {
  color: var(--color-button-share-hover-text);
  background: var(--color-button-share-hover-bg);
}

.button.uncontained.share:hover .icon {
  color: var(--color-button-share-hover-text);
}

.button.uncontained.danger,
.button.uncontained.danger .icon {
  color: var(--color-button-danger-text);
}

.button.uncontained.danger:hover {
  color: var(--color-button-danger-text);
  background: var(--color-button-danger-bg);
}
.button.uncontained.danger:hover .icon {
  color: var(--color-button-danger-text);
}
