.keyboard-shortcuts {
  --color-keyboard-shortcut-key-text: var(--u-color_text-on-element-emphasized);
  --color-keyboard-shortcut-key-bg: var(--u-color_element_emphasized);
  --color-keyboard-shortcut-then: var(--u-color_text_subdued);
  --color-keyboard-shortcut-separator: var(--u-color_text_subdued);

  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-left: auto;
}

.keyboard-shortcuts .separator {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.875rem;
  color: var(--color-keyboard-shortcut-separator);
  align-items: center;
  margin: 0 0.4rem;
  line-height: 1;
}

.keyboard-shortcut {
  display: flex;
  flex-direction: row;
  /* gap: 0.25rem; */
}

.keyboard-shortcut .key {
  margin-right: 0.25rem;
}

.keyboard-shortcut:last-child .key {
  margin-right: 0;
}

.keyboard-shortcut .key:last-child {
  margin-right: 0;
}

.keyboard-shortcut .key {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.75rem;
  padding: 0.375rem;
  border-radius: var(--border-radius-base);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--color-keyboard-shortcut-key-text);
  background: var(--color-keyboard-shortcut-key-bg);
  transition: all 0.2s;
}

.keyboard-shortcut .then {
  display: inline-flex;
  height: 1.5rem;
  font-size: 0.625rem;
  line-height: 1;
  margin: 0 0.35rem;
  color: var(--color-keyboard-shortcut-then);
  align-items: center;
}
