#modal-overlay {
  /* @color-todo */
  --color-modal-fg: var(--u-color_text);
  --color-modal-mg: var(--u-color_element_subdued);
  --color-modal-bg: var(--u-color_container);
  --color-modal-inner-border: var(--color-gray-lighten-50);
  --color-modal-separator: var(--u-color_divider);
  --color-modal-shadow: var(--u-shadow);
  --color-modal-overlay: var(--u-color_backdrop);
  --color-modal-border: var(--color-transparent);
  --color-modal-subtle-fg: var(--u-color_text_very-subdued);
  --color-modal-subtle-fg-em: var(--u-color-text-subdued);
  --color-modal-subtle-mg: var(--color-gray-lighten-55);
  --color-modal-subtle-bg: var(--u-color_container_subdued);
  --color-modal-focus-fg: var(--u-color_text);
  --color-modal-focus-bg: var(--color-gray-lighten-55);
  --color-modal-focus-subtle-fg: var(--color-gray-base);
  --color-modal-focus-subtle-bg: var(--color-gray-lighten-50);
  --color-modal-title-fg: var(--color-gray-lighten-20);
  --color-modal-title-bg: var(--color-transparent);
  --color-modal-error-fg: var(--color-pink-1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-overlay);
  display: flex;
  flex: 1;
  flex-shrink: 3;
  justify-content: center;
  animation: fade-in 0.2s ease-out;
  z-index: var(--layer-modal-overlay);
}

.modal {
  position: relative;
  background: var(--color-modal-bg);
  border-radius: var(--border-radius-base);
  width: auto;
  margin-top: 4rem;
  height: -moz-fit-content;
  height: fit-content;
  animation: slide-up 0.2s var(--anim-elastic);
  box-shadow: 0 0.375rem 1rem var(--color-modal-shadow);
  z-index: var(--layer-modal);
  font-size: var(--font-size-medium);
}

.modal-header {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

.modal-header + .modal-content {
  padding-top: 0.5rem;
}

.modal-header h2 {
  font-size: var(--font-size-base);
  height: 1.5rem;
  color: var(--color-modal-title-fg);
}

.modal-header .close-modal {
  width: 1.5rem;
  height: 1.5rem;
  font-size: var(--font-size-medium);
  justify-self: right;
  margin-top: -0.5rem;
  margin-right: -1rem;
  margin-left: auto;
}

.modal-header .close-modal .icon {
  color: var(--color-modal-subtle-fg);
}

.modal-header .close-modal:hover .icon {
  color: var(--color-modal-fg);
}

.modal-content {
  padding: 1.5rem;
}

.modal:focus {
  outline: none;
}

.hint {
  font-size: var(--font-size-small);
  color: var(--color-modal-subtle-fg-em);
}
