<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Unison Codebase</title>
    <link rel="icon" type="image/svg+xml" href="<%= require('./favicon.svg') %>">
  </head>
  <body></body>
</html>
