<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Explore, read docs about, and share Unison libraries">

    <meta property="og:title" content="Unison Share">
    <meta property="og:description" content="Explore, read docs about, and share Unison libraries">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://share.unison-lang.org">
    <meta property="og:image" content="https://share.unison-lang.org/static/unison-share-social.png">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@unisonweb" />

    <title>Unison Share</title>
    <link rel="icon" type="image/svg+xml" href="<%= require('./favicon.svg') %>">
  </head>
  <body></body>
</html>
